<div class="demo-app" *ngIf="!isLoading">
  <div class="demo-app-main">
    <full-calendar *ngIf="calendarVisible()" [options]="calendarOptions()">
      <ng-template #eventContent let-arg>
        <b>{{ arg.timeText }}</b>
        <i>{{ arg.event.title }}</i>
      </ng-template>
    </full-calendar>
  </div>
</div>

<div class="wrapper-spinner" *ngIf="isLoading">
  <ngx-spinner
    bdColor="rgba(0,0,0,0)"
    size="default"
    color="#11B3CF"
    type="ball-pulse-sync"
    [fullScreen]="false"
  >
    <p class="color-primary">Đang tải dữ liệu</p>
  </ngx-spinner>
</div>

<div class="text-center text-danger" *ngIf="isError">
  Lỗi không lấy được dữ liệu
</div>

<button
  hidden
  data-bs-toggle="modal"
  data-bs-target="#modalShowInfo"
  id="btnOpenModalShowInfo"
></button>

<div
  class="modal fade"
  id="modalShowInfo"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalShowInfoLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content p-30">
      <div class="modal-header row-center position-relative">
        <h5 class="modal-title color-primary">Xem thông tin chi tiết lịch hẹn</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-2">
            <img [src]="dataClick?.avatar" alt="" class="avatar-user" />
          </div>
          <div class="col-10">
            <table class="fs-16">
              <tr>
                <th>Họ tên bệnh nhân:</th>
                <td>{{ dataClick?.name }}</td>
              </tr>
              <tr>
                <th>Ngày sinh:</th>
                <td>{{ dataClick?.birthday | date : "dd/MM/yyyy" }}</td>
              </tr>
              <tr>
                <th>Địa chỉ:</th>
                <td>{{ dataClick?.address }}</td>
              </tr>
              <tr>
                <th>Số điện thoại:</th>
                <td>{{ dataClick?.phone }}</td>
              </tr>
              <tr>
                <th>Email:</th>
                <td>{{ dataClick?.email }}</td>
              </tr>
              <tr *ngIf="dataClick?.service_name">
                <th>Tên dịch vụ tư vấn:</th>
                <td>{{ dataClick?.service_name }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
