<div class="text-center">
  <div>
    <span *ngFor="let value of getArrayStarCheck()">
      <span
        class="fa fa-star check mx-6"
        [ngClass]="'fs-' + fontSize"
        [class.cursor-pointer]="!readOnly"
        (click)="onClickStar(value)"
      ></span>
    </span>
    <span *ngFor="let value of getArrayStarUncheck()">
      <span
        class="fa fa-star mx-6"
        [ngClass]="'fs-' + fontSize"
        [class.cursor-pointer]="!readOnly"
        (click)="onClickStar(value)"
      ></span>
    </span>
  </div>

  <div class="mt-3 mh-20">
    <span [ngStyle]="{ color: getColorDescRating() }" class="fs-14 fw-bold">
      {{ descriptionsRating[rating] }}
      <i
        class="fa fa-pencil cursor-pointer ml-4"
        aria-hidden="true"
        *ngIf="isCanEdit"
        (click)="onEditRating()"
      ></i>
    </span>
  </div>
</div>
