<div class="container-fluid bg-linear-primary-180 mt-30">
  <div class="row py-30">
    <div class="col-md-6 col-sm-12 text-center">
      <img src="assets/media/image/banner-mobile.png" class="w-50" alt="" />
    </div>

    <div class="col-md-6 col-sm-12 download-home-wrapper">
      <p class="fs-30 fw-700 mb-8">Tải ứng dụng Healthcare</p>
      <p class="mb-16">Đặt lịch hẹn & khám sức khỏe</p>
      <p class="mb-16">Tham khảo ý kiến ​​​​bác sĩ trực tuyến</p>
      <p class="mb-16">Lấy link tải ứng dụng</p>

      <div class="column-center">
        <div>
          <input
            type="text"
            class="form-control"
            placeholder="Nhập số điện thoại của bạn"
          />
        </div>
        <a class="btn btn-primary-1 ml-12">Gửi link</a>
      </div>

      <div class="mt-20">
        <a class="download-btn">
          <img src="assets/media/logo/play-store.png" alt="" />
          Play store
        </a>
      </div>
    </div>
  </div>
</div>
