.line-vertical {
    border: none;
    display: inline-block;
    height: 24px;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.blue-line-vertical {
    border: none;
    display: inline-block;
    height: 100%;
    border-right: 4px solid rgb(45, 135, 243);
}