<div class="right-content">
  <div class="fw-bolder fs-5 mb-3">Thêm dịch vụ</div>
  <form
    (ngSubmit)="save()"
    appFocusInvalidInput
    #focusInput="focusInvalidInput"
    [formGroup]="form"
    #f="ngForm"
  >
    <div class="row">
      <div class="mb-3 col-6">
        <label for="name" class="form-label fw-bold">
          Tên dịch vụ:
          <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Tên dịch vụ"
          formControlName="name"
          required
        />
        <app-show-error [control]="form.get('name')"></app-show-error>
      </div>

      <div class="mb-3 col-6">
        <label for="name" class="form-label fw-bold">
          Số tiền tư vấn mặc định:
          <span class="text-danger">*</span>
        </label>
        <input
          type="number"
          class="form-control"
          id="price"
          placeholder="Số tiền tư vấn"
          formControlName="price"
          required
        />
        <app-show-error [control]="form.get('price')"></app-show-error>
      </div>
    </div>

    <div class="row">
      <div class="mb-3 col-6">
        <label for="name" class="form-label fw-bold mb-2">
          Thời gian tư vấn:
          <span class="text-danger">*</span>
        </label>

        <div class="row">
          <div class="col-6">
            <label for="hour" class="form-label fw-bold">
              Giờ:
              <span class="text-danger">*</span>
            </label>
            <input
              type="number"
              class="form-control"
              id="hour"
              placeholder="Giờ"
              formControlName="hour"
              required
            />
            <app-show-error [control]="form.get('hour')"></app-show-error>
          </div>
          <div class="col-6">
            <label for="minute" class="form-label fw-bold">
              Phút:
              <span class="text-danger">*</span>
            </label>
            <input
              type="number"
              class="form-control"
              id="minute"
              placeholder="Phút"
              formControlName="minute"
              required
            />
            <app-show-error [control]="form.get('minute')"></app-show-error>
          </div>
        </div>
      </div>

      <div class="mb-3 col-6">
        <label for="hospital_department" class="form-label fw-bold mt-30">
          Chọn chuyên khoa
          <span class="text-danger">*</span>
        </label>
        <ng-select
          formControlName="id_hospital_department"
          class="input-search"
          placeholder="Chọn chuyên khoa"
          required="true"
          id="hospital_department"
        >
          <ng-option
            *ngFor="let department of departmentsOfHospital"
            [value]="department.id_hospital_departments"
          >
            {{ department.name }}
          </ng-option>
        </ng-select>
      </div>
    </div>

    <div class="mb-3 row">
      <label
        for="about_service"
        class="form-label fw-bold mb-2 align-top col-sm-3"
      >
        Mô tả về dịch vụ:
        <span class="text-danger">*</span>
      </label>

      <quill-editor
        formControlName="about_service"
        placeholder="Mô tả về dịch vụ"
        id="about_service"
        class="col-sm-9"
      ></quill-editor>
    </div>

    <div class="row mb-3">
      <div class="col-sm-3"></div>
      <div class="col-sm-9">
        <app-show-error [control]="form.get('about_service')"></app-show-error>
      </div>
    </div>

    <div class="mb-3 row">
      <label
        for="prepare_process"
        class="form-label fw-bold mb-2 col-sm-3 align-top"
      >
        Quá trình chuẩn bị:
        <span class="text-danger">*</span>
      </label>

      <quill-editor
        formControlName="prepare_process"
        placeholder="Quá trình chuẩn bị"
        id="prepare_process"
        class="col-sm-9"
      ></quill-editor>
    </div>

    <div class="row mb-3">
      <div class="col-sm-3"></div>
      <div class="col-sm-9">
        <app-show-error
          [control]="form.get('prepare_process')"
        ></app-show-error>
      </div>
    </div>

    <div class="mb-3 row">
      <label
        for="service_details"
        class="form-label fw-bold mb-2 col-sm-3 align-top"
      >
        Chi tiết dịch vụ:
        <span class="text-danger">*</span>
      </label>

      <quill-editor
        formControlName="service_details"
        placeholder="Chi tiết dịch vụ"
        id="service_details"
        class="col-sm-9"
      ></quill-editor>
    </div>

    <div class="row mb-3">
      <div class="col-sm-3"></div>
      <div class="col-sm-9">
        <app-show-error
          [control]="form.get('service_details')"
        ></app-show-error>
      </div>
    </div>

    <div class="flex-end mt-30">
      <button
        type="button"
        class="btn btn-secondary mr-12"
        routerLink="/admin/general-hospital/service"
      >
        Huỷ
      </button>
      <button
        type="submit"
        class="btn btn-primary-1 column-center"
        (click)="focusInput.focus()"
        [disabled]="isSaving"
      >
        <div class="loader" *ngIf="isSaving"></div>
        Lưu
      </button>
    </div>
  </form>
</div>
