<div class="py-30 container">
  <div class="row">
    <div class="col-sm-9 m-auto">
      <div class="row">
        <div class="col-8">
          <input
            type="text"
            class="form-control"
            placeholder="Tìm kiếm với tên bệnh viện"
            [(ngModel)]="textSearch"
            (keydown.enter)="searchHospital()"
          />
        </div>

        <div class="col-4">
          <button class="btn btn-primary-1" (click)="searchHospital()">
            Tìm kiếm
          </button>
        </div>
      </div>

      <div class="card mt-30 p-0" *ngFor="let item of dataSources">
        <div class="card-body p-0 position-relative">
          <div class="column-center px-12 py-20">
            <img
              [src]="item?.avatar"
              alt="Ảnh bệnh viện"
              class="avatar-hospital"
            />
            <div class="ml-20">
              <div class="fw-bold">{{ item?.name }}</div>
              <div style="color: rgb(89, 89, 89)">
                <i class="fa fa-location-arrow mr-4" aria-hidden="true"></i>
                {{ item?.address }}
              </div>

              <div style="color: rgb(89, 89, 89)">
                <i class="fa fa-medkit mr-4" aria-hidden="true"></i>
                Có thể nhận lịch hẹn: Bác sĩ | Dịch vụ
              </div>

              <div>
                {{ item?.description }}
              </div>
            </div>
          </div>

          <button
            class="btn btn-primary-1 position-absolute"
            style="right: 20px; bottom: 20px"
            routerLink="/benh-vien/chi-tiet/{{ item?.id_hospital }}"
          >
            Xem chi tiết
          </button>
        </div>
      </div>

      <app-paginate
        *ngIf="dataSources && dataSources.length > 0"
        [currentPage]="currentPage"
        [numberElementOfPage]="numberElementOfPage"
        [totalPage]="totalPage"
        [totalElements]="totalElements"
        (changePage)="onChangePage($event)"
      ></app-paginate>

      <!-- Error data -->
      <div
        class="text-center text-danger mt-30"
        *ngIf="dataSources?.length == 0 && isError"
      >
        Lỗi không lấy được dữ liệu
      </div>

      <!-- Loading spinner -->
      <div class="wrapper-spinner" *ngIf="isLoading">
        <ngx-spinner
          bdColor="rgba(0,0,0,0)"
          size="default"
          color="#2095c4"
          type="ball-pulse-sync"
          [fullScreen]="false"
        >
          <p class="color-primary fs-20 fw-bold mt-30">
            Đang tìm kiếm danh sách bệnh viện
          </p>
        </ngx-spinner>
      </div>

      <div *ngIf="isLoading">
        <div class="card p-10 mt-30" *ngFor="let i of [1, 2, 3, 4, 5]">
          <div class="d-flex">
            <ngx-skeleton-loader
              appearance="circle"
              [theme]="{ width: '80px', height: '80px' }"
            >
            </ngx-skeleton-loader>

            <div class="w-100 pl-20">
              <ngx-skeleton-loader
                [theme]="{
                  width: '80%',
                  'border-radius': '0',
                  height: '15px',
                  'margin-bottom': '10px',
                  'margin-top': '20px'
                }"
              ></ngx-skeleton-loader>
              <ngx-skeleton-loader
                [theme]="{ width: '60%', 'border-radius': '0', height: '15px' }"
              ></ngx-skeleton-loader>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-no-data
    [keyword]="oldTextSearch"
    *ngIf="dataSources && dataSources.length === 0 && !isLoading"
  ></app-no-data>
</div>
