<header class="px-30 d-flex align-items-center justify-content-between">
  <div class="d-flex align-items-center" style="gap: 24px">
    <img src="assets/media/logo/hellobacsi.png" alt="Logo" id="logo-main" />
    <div class="position-relative">
      <img
        src="assets/media/icon/icon_search.svg"
        alt="Icon"
        class="position-absolute-left-8"
      />
      <input
        type="text"
        class="form-control pl-40"
        placeholder="Tìm kiếm HelloBacsi"
      />
    </div>
  </div>

  <div>
    <button class="btn btn-blue">Đặt lịch với bác sĩ</button>
    <button class="btn btn-outline-gray ml-20">Đăng nhập</button>
  </div>
</header>
