$header-height: 70px;

header {
    height: $header-height;
    border-bottom: 1px solid #dfe3e6;
    background-color: white;
    z-index: 100;
}

#logo-main {
    width: 100px;
    height: 50px;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.input-search {
    min-width: 350px;
}

.btn {
    &-login {
        border: 1px solid rgb(210, 214, 220);
        background: white;
        min-width: 120px;
    }

    &-book {
        min-width: 165px;
    }
}

.nav-link {
    color: #1b3250 !important;
    font-weight: 700;
}

.sub-header {
    position: absolute;
    top: $header-height;
    background-color: white;
    width: 100%;
}

.avatar-user {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-top: -6px;
    border-radius: 50%;
}

.icon-menu-search {
    display: none;
}

@media screen and (max-width: 992px) {
    .icon-menu-search {
        display: block;
    }
}

@media screen and (max-width: 584px) {

    .icon-login,
    .icon-menu-search {
        display: block !important;
    }

    .btn-login {
        display: none;
    }


    #logo-main {
        width: 90px;
        height: 40px;
    }

    header {
        padding: 0 10px;
    }
}