<header class="px-20 row-between column-center position-fixed w-100 top-0">
  <div class="column-center gap-3">
    <img
      src="assets/media/icon/hamburgerMenuNewWithSearch.svg"
      alt=""
      width="24px"
      height="24px"
      class="cursor-pointer icon-menu-search"
      (click)="clickSubMenuBarMobile()"
    />
    <img src="assets/media/logo/logo.svg" alt="Logo" id="logo-main" />
    <div class="position-relative">
      <img
        src="assets/media/icon/icon_search.svg"
        alt="Icon"
        class="position-absolute-left-8 cursor-pointer"
      />
      <input
        type="text"
        class="form-control pl-40 mw-160 input-search"
        placeholder="Tìm kiếm"
      />
    </div>
  </div>

  <div class="d-flex flex-end">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="btn nav-link dropdown-toggle"
              (click)="chooseTab('CATEGORY')"
            >
              Chuyên mục
            </a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a
              class="btn nav-link dropdown-toggle"
              (click)="chooseTab('HEALTH_CHECK')"
            >
              Kiểm tra sức khoẻ
            </a>
          </li> -->
          <li class="nav-item dropdown">
            <a
              class="btn nav-link dropdown-toggle"
              (click)="chooseTab('BOOKING_DOCTOR')"
            >
              Đặt lịch với bác sĩ
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="btn nav-link dropdown-toggle"
              (click)="chooseTab('SOCIAL')"
            >
              Cộng đồng
            </a>
          </li>
          <!-- <li class="nav-item ml-12">
            
          </li> -->
        </ul>
      </div>
    </nav>

    <div class="position-relative d-flex align-items-center">
      <!-- Button login -->
      <a
        class="btn btn-outline-gray btn-login"
        (click)="isLogin = true"
        *ngIf="!isLogin"
      >
        Đăng nhập
      </a>

      <!-- Icon login -->
      <img
        src="assets/media/image/icon-login.png"
        alt=""
        class="cursor-pointer d-none icon-login w-24 h-24"
        (click)="isLogin = true"
        *ngIf="!isLogin"
      />

      <!-- Icon messenger -->
      <img
        src="assets/media/image/messenger.png"
        class="w-24 h-24 mx-3 cursor-pointer"
        alt=""
        *ngIf="isLogin"
      />

      <!-- Icon booking -->
      <img
        src="assets/media/icon/icon-myBooking.svg"
        alt=""
        class="cursor-pointer icon-booking mr-16"
        (click)="isLogin = true"
        *ngIf="isLogin"
      />

      <!-- Avatar after login -->
      <img
        src="https://lh3.googleusercontent.com/a/ACg8ocIcBt2ydFueGAP7E7wLNuJzG6GM9yQW3hc26fKR28Ey=s96-c"
        alt=""
        class="avatar-user"
        (click)="clickAvatarUser()"
        *ngIf="isLogin"
      />

      <app-header-info-user
        *ngIf="isOpenHeaderInfo"
        (logoutEvent)="logout()"
        (closeHeaderInfo)="isOpenHeaderInfo = false"
      ></app-header-info-user>
    </div>
  </div>
</header>

<div class="sub-header">
  <!-- Sub header -->
  <app-sub-header
    *ngIf="isOpenSubMenuBar"
    [data]="tabObj"
    (closeSubHeader)="this.isOpenSubMenuBar = false"
  ></app-sub-header>

  <!-- Sub header mobile -->
  <app-sub-header-mobile
    *ngIf="isOpenSubMenuBarMobile"
    [data]="tabObj"
    (closeSubHeaderMobile)="this.isOpenSubMenuBarMobile = false"
    class="app-sub-header-mobile"
  ></app-sub-header-mobile>
</div>
