<div class="width=100%">
  <div class="pt-3">
    <div class="row">
      <div class="col-1"></div>

      <div class="col-11">
        <div class="row">
          <div class="col-12 pb-3 d-flex align-items-center" style="font-size: 0.875rem; color: #595959">
            <a href="./"><img class="side-item-img wh-24 p-3 border-radius-100" [src]="category?.thumbnail" alt=""
                style="background-color: rgba(0, 0, 0, 0.1)" /></a>
            <div class="line-vertical ms-2 me-2"></div>
            <span style="color: #262626">{{ nameCategory }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="background-color: #e3f2ff" class="pt-4">
    <div class="mt-5 bg-white border-radius-5">
      <div>
        <div class="row d-flex justify-content-center">
          <div class="ps-5 d-inline-block col-md-7 border-radius-100">
            <img class="bg-white wh-140 border-radius-100" [src]="category?.thumbnail" alt="" style="
                transform: translateY(-30%);
                box-shadow: 2px 4px rgba(0, 0, 0, 0.1);
              " />
            <span class="fw-bold pt-48 pl-10 fs-20">{{ nameCategory }}</span>
          </div>
        </div>
        <!-- <div class="row d-flex justify-content-center">
          <div class="col-md-7" style="padding: 16px">
            <p style="border: 1px solid rgba(0, 0, 0, 0.1); padding: 16px">
              Khoang miệng của chúng ta chứa đầy vi khuẩn và chúng thường vô
              hại. Việc không chăm sóc răng miệng đúng cách có thể khiến vi
              khuẩn tăng sinh mất kiểm soát, dẫn đến các bệnh về răng miệng. Hãy
              tìm hiểu cách cải thiện sức khỏe răng miệng và bảo vệ bản thân
              chống lại các bệnh khác ngay bây giờ.
            </p>
          </div>
        </div> -->
      </div>
      <div class="container pt-3">
        <div>
          <div class="container mt-30">
            <h1 class="fs-22 fw-700 mb-30">Kiến thức chung</h1>
            <div class="row">
              <div class="col-sm-12 col-md-6 border-bottom">
                <app-article-img-top [article]="articles[0]"
                  routerLink="/bai-viet/{{ articles[0]?.id_article }}"></app-article-img-top>
              </div>
              <div class="col-sm-12 col-md-6 border-bottom">
                <div class="row">
                  <div *ngFor="let article of articles | slice : 1 : 5; index as i" class="col-md-6">
                    <div class="pb-10">
                      <app-article-img-top-no-content routerLink="/bai-viet/{{ article?.id_article }}"
                        [article]="article"></app-article-img-top-no-content>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <app-carousel-category></app-carousel-category>
        </div>

        <div class="container mt-50 mb-5">
          <div class="row">
            <div class="col-md-7 col-sm-12">
              <div>
                <div class="column-center">
                  <h1 class="fs-26 fw-700 m-0 mb-4">
                    Xem thêm về <span>{{ nameCategory }}</span>
                  </h1>
                </div>
                <div *ngFor="let article of articles | slice : 1 : 5; index as i">
                  <div class="pb-10" [class.border-bottom]="i !== 2">
                    <app-article-img-left2 [article]="article"></app-article-img-left2>
                  </div>
                </div>
                <!-- Phân trang .......................... -->
              </div>
            </div>

            <div class="col-md-5 col-sm-12">
              <app-call-bmi></app-call-bmi>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p class="fw-700 fs-26">Đội ngũ chuyên gia của ELISTER</p>
            <p style="color: rgba(0, 0, 0, 0.6)">
              Đội ngũ cố vấn của Elister gồm các chuyên gia sức khỏe và y bác sĩ
              từ nhiều chuyên khoa, với đầy đủ chứng nhận, chứng chỉ hành nghề,
              hỗ trợ xây dựng và củng cố nội dung theo chuyên môn của mình.
              Trách nhiệm của chuyên gia là bảo đảm tính chính xác về mặt y học
              ở những nội dung đăng tải trên Elister, thường xuyên cập nhật các
              thông tin mới về khoa học, nghiên cứu và sức khỏe. Đội ngũ của
              chúng tôi làm việc không mệt mỏi để những thông tin hữu ích có thể
              dễ dàng tiếp cận đến bạn đọc, giúp bạn chủ động hơn trong các
              quyết định chăm sóc sức khỏe.
            </p>
            <div class="mt-3">
              <a href="./chuyen-gia">
                <p style="color: #2d87f3">
                  <span>Xem thêm các chuyên gia</span>
                  <i class="ms-2 fa fa-chevron-down" aria-hidden="true"></i>
                </p>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6 mb-4 col-sm-4" *ngFor="let doctor of doctors | slice : 1 : 5; index as i">
                <app-doctor-card [doctor]="doctor"></app-doctor-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>