<h2>Login</h2>

    <form action="" method>
        <p>Username</p>
        <img class="icon" src="assets/media/icon/user.svg" alt="">
        <input class="inp" type="text" placeholder="Type your username" name="username">
        <hr>
        <p>Password</p>
        <img class="icon" src="assets/media/icon/password-outline.svg" alt="">
        <input class="inp" id="password" type="password" placeholder="Type your password" name="password" >
        <img class="icon" id="toggleButton" src="assets/media/icon/eye-solid.svg" alt="" (click)="hideShowPass()">
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-md col-lg col-sm pb-3">
                    <input type="checkbox" id="remember">
                    <label for="remember">Remember me</label>
                </div>
                <a href="" id="forgot-pass" class="col-md col-lg col-sm">Forgot password?</a>
            </div>
        </div>
        <input type="submit" value="Login">
        <p class="text-center" id="or">Or login using</p>
        <div id="social-media-container">
            <img src="assets/media/icon/social-media/facebook1.svg" alt="">
            <img src="assets/media/icon/social-media/twitter.svg" alt="">
            <img src="assets/media/icon/social-media/google-contained-fill.svg" alt="">
        </div>

    </form>
