<div class="cursor-pointer">
  <img [src]="article?.thumbnail_article" alt="" class="article-image" />

  <h4 style="color: #fc7419" class="fs-18 fw-700 my-12">
    {{ article?.name_category }}
  </h4>
  <h3 class="fs-20 fw-700">
    {{ article?.title }}
  </h3>

  <div class="column-center my-12">
    <div>
      <img
        [src]="article?.avatar_user"
        alt="Lỗi"
        class="wh-36 border-radius-50 mr-12"
        onerror="this.src='assets/media/image/avatar_doctor_default.jpg'"
      />
    </div>

    <div>
      Thông tin kiểm chứng bởi
      <span class="fw-700">{{ article?.name_user }}</span>
      •
      <span class="ml-4">{{ article?.updated_at_article | date }}</span>
    </div>
  </div>
</div>
