.mr-lr-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.btn-choose {
    font-size: 10px;
    width: 43px;
    height: 35px;
    padding-left: 0.1px !important;
    padding-right: 0.2px !important;
}

.wh-28 {
  width: 28px;
  height: 28px;
}

.th-text {
  color: #A4A2A2;
  font-size: 14px;
}

body > tr > td {
  color: #000000;
}

.btn-delete {
  background-color: #F5E0E0;
}

.form-check.form-check-solid .form-check-input:checked {
  background-color: rgba(0, 81, 215, 0.5);
}

.table td {
  vertical-align: middle !important;
  border: none;
}

.btn-accept {
  background: rgba(159, 223, 140, 0.4);
  color: #30BB1A;
}
