<div>
  <div class="container mt-30">
    <h1 class="fs-22 fw-700 mb-30">Tin tức nổi bật trong tuần</h1>
    <div class="row">
      <div class="col-sm-12 col-md-7 border-bottom">
        <app-article-img-top [article]="articleTop"></app-article-img-top>
      </div>
      <div class="col-sm-12 col-md-5 border-bottom">
        <div
          class="border-bottom pb-12"
          *ngFor="let article of articles | slice : 1 : 4"
        >
          <app-article-img-left [article]="article"></app-article-img-left>
        </div>
        <!-- <div class="border-bottom pb-12">
          <app-article-img-left [article]="articleLeft"></app-article-img-left>
        </div>
        <app-article-img-left [article]="articleLeft"></app-article-img-left> -->
      </div>
    </div>
  </div>
</div>
