<div
  class="container mt-2"
  style="height: 100%; border-radius: 5%; padding: 20px 40px"
>
  <div class="d-flex justify-content-center">
    <img
      style="width: 20%; height: 20%"
      src="assets/media/icon/password-outline.svg"
      alt=""
    />
  </div>
  <h2 class="pt-50">Đăng nhập quản trị viên</h2>
  <form
    action=""
    method=""
    class="pb-50"
    style="padding-bottom: 83px"
    [formGroup]="loginForm"
  >
    <p>Email</p>
    <img class="icon" src="assets/media/icon/user.svg" alt="" />
    <input
      class="inp"
      type="text"
      placeholder="Nhập email"
      name="username"
      formControlName="email"
      require
    />
    <div
      *ngIf="isShowEmail && emailControl && emailControl.hasError('required')"
      class="warning"
    >
      Bạn phải nhập email.
    </div>
    <div
      *ngIf="isShowEmail && emailControl && emailControl.hasError('email')"
      class="warning"
    >
      Hãy nhập email hợp lệ.
    </div>
    <hr />
    <p>Mật khẩu</p>

    <img class="icon" src="assets/media/icon/password-outline.svg" alt="" />
    <input
      class="inp"
      id="password"
      type="password"
      placeholder="Nhập mật khẩu"
      name="password"
      formControlName="password"
    />
    <img
      class="icon"
      id="toggleButton"
      src="assets/media/icon/eye-solid.svg"
      alt=""
      (click)="hideShowPass()"
    />
    <div
      *ngIf="
        isShowPass && passwordControl && passwordControl.hasError('required')
      "
      class="warning"
    >
      Bạn phải nhập mật khẩu.
    </div>
    <hr />
    <div class="container" style="padding-left: 0">
      <div class="row">
        <div class="col-lg-7">
          <input type="checkbox" id="remember" />
          <label for="remember">Ghi nhớ đăng nhập</label>
        </div>
        <div class="col-lg d-flex flex-row-reverse">
          <a href="./auth/sign-in/forgot-password-admin" id="forgot-pass"
            >Quên mật khẩu?</a
          >
        </div>
      </div>
    </div>

    <!-- <input type="submit" value="Đăng nhập"> -->
    <div
      class="btn btn-secondary d-flex justify-content-center mt-4"
      id="btn-login"
      (click)="login()"
    >
      <div
        class="spinner-border spinner-border-sm text-primary d-none"
        id="loading"
        role="status"
        style="margin-top: 3px; margin-right: 5px"
      >
        <span class="visually-hidden">Loading...</span>
      </div>
      <p>Đăng nhập</p>
    </div>
  </form>
</div>
<!-- <div class="container position-absolute bottom-0 start-0 mb-30" id="footer">
        <p class="text-center" id="or">Hoặc đăng nhập bằng:</p>
        <div id="social-media-container">
            <img src="assets/media/icon/social-media/facebook1.svg" alt="" (click)="showNotification('hello')">
            <img src="assets/media/icon/social-media/twitter.svg" alt="">
            <img src="assets/media/icon/social-media/google-contained-fill.svg" alt="">
        </div>
    </div> -->
