<h1 class="fs-28 fw-700 mb-20">Sức khoẻ của tôi</h1>
<ul class="d-flex w-100 border-bottom mb-20">
  <li
    routerLink="/user/health/trackers"
    class="nav-tab"
    routerLinkActive="active"
  >
    Theo dõi sức khoẻ
  </li>
  <!-- <li
    routerLink="/user/health/screeners"
    class="nav-tab"
    routerLinkActive="active"
  >
    Sàng lọc bệnh
  </li>
  <li
    routerLink="/user/health/parenting"
    class="nav-tab"
    routerLinkActive="active"
  >
    Nuôi dạy con
  </li> -->
</ul>
<router-outlet> </router-outlet>
