.chat-wrapper {
  height: 100vh;
  background-color: #fff;
  margin-top: -30px;

  &-content {
    border: 1px solid #e6e6e6;
    overflow-y: auto !important;
    height: 100vh;

    &-header {
      padding-top: 12px;
      padding-bottom: 12px;
      border-bottom: 1px solid #e6e6e6;
    }
  }
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.last-message {
  color: #5d5c5c;
  font-size: 11px;
}

.list-group-item {
  border-radius: 0 !important;
  padding: 12px 8px;
  cursor: pointer;
}

.conversation-wrapper {
  border: 1px solid #e6e6e6;
  overflow: hidden;
  height: 100%;
  padding-right: 0px !important;
  height: 100vh;

  &:hover {
    overflow: auto;
  }
}

.input-chat {
  height: 60px;
  border-radius: 0 !important;
  border: 1px solid #e6e6e6;

  &-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

.display-message {
  height: calc(100vh - 130px);
  overflow-y: auto;
}

.message-wrapper {
  margin: 20px 0;
}

.message-content {
  border-bottom: none;
  display: inline-block;
  word-break: break-word;
  max-width: 65% !important;
  border-radius: 6px;
  padding: 6px;

  &-admin {
    background-color: #dcf8c6;
  }

  &-user {
    background-color: #edf1f2;
  }
}
