<!-- account -->
<div class="p-3 fs-14">
  <p class="color-primary fs-16 fw-bold mb-2">Thống kê bài viết</p>
  <div class="px-4 mb-4">
    <div class="my-1">Số bài viết admin: {{ numberArticle?.admin }}</div>
    <div class="my-1">Số bài viết hospital: {{ numberArticle?.doctor }}</div>
    <div class="my-1">Số bài viết doctor: {{ numberArticle?.hospital }}</div>
  </div>

  <!-- Vẽ biểu đồ -->
  <div class="row" *ngIf="!isLoading">
    <div class="col-sm-8">
      <canvas
        baseChart
        [type]="'line'"
        [data]="lineChartData"
        [options]="lineChartOptions"
        [legend]="lineChartLegend"
        style="width: 100%; height: 300px"
        class="component p-20"
      >
      </canvas>
    </div>

    <div class="col-sm-4 component">
      <canvas
        baseChart
        [type]="'pie'"
        [data]="pieCharData"
        [options]="pieChartOptions"
        [legend]="pieChartLegend"
        class="m-auto"
        style="width: 100%; height: 250px"
      >
      </canvas>
    </div>
  </div>
</div>
