<div class="container">
    
    <a href="./auth/sign-in/forgot-password">
        <div class="btn mt-30" id="btn-Back" style="z-index: 1;position: absolute;">
            <img class="" src="assets/media/icon/arrow-gray-1.svg" alt="" style=" transform: rotate(180deg);">
        </div>
    </a>
    <div class="d-flex flex-column align-items-center">
        <img class="row" src="assets/media/logo/logo_1.png" alt="" style="width: 40%;">
    </div>
    <div class="container">
            <p class="mb-10">Email chứa mã xác thực đã được gửi tới <span style="color: cornflowerblue; font-weight: bold;">{{ email }}</span></p>
            <form action="">
                <div class="border mb-20">
                    <img class="icon" src="assets/media/icon/user.svg" alt="" style="width: 25px; height: 25px;">
                    <input class="" type="email" placeholder="Nhập mã xác thực" id="inp-email" required>
                </div>
                <div class="border mb-20">
                    <img class="icon" src="assets/media/icon/password-outline.svg" alt="" style="width: 25px; height: 25px;">
                    <input class="" type="password" placeholder="Mật khẩu mới" id="inp-email" required>
                </div>
                <div class="border mb-20">
                    <img class="icon" src="assets/media/icon/password-outline.svg" alt="" style="width: 25px; height: 25px;">
                    <input class="" type="password" placeholder="Nhập lại mật khẩu mới" id="inp-email" required>
                </div>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-primary d-block col-md-6" href="./auth/sign-in/verify-email"><p class="">Hoàn tất</p></a>
                </div>
            </form>
    </div>
</div>
<div class="container position-absolute bottom-0 start-0 mb-30">
    <p class="text-center" id="or">Hoặc đăng nhập bằng:</p>
    <div id="social-media-container">
        <img src="assets/media/icon/social-media/facebook1.svg" alt="">
        <img src="assets/media/icon/social-media/twitter.svg" alt="">
        <img src="assets/media/icon/social-media/google-contained-fill.svg" alt="">
    </div>
</div>
