<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-32">
        <div class="column-center row-between mb-4">
          <div class="col-5">
            <span class="fs-16 fw-bold">Chia sẻ</span>
          </div>
          <div class="column-center row-between col-7">
            <a
              ><img
                id="btn-share"
                class="wh-32"
                src="assets/media/icon/social-media/Facebook.svg"
                alt=""
            /></a>
            <a
              ><img
                id="btn-bookmark"
                class="wh-32"
                src="assets/media/icon/social-media/zalo.png"
                alt=""
            /></a>
            <a
              ><img
                id="btn-question"
                class="wh-32"
                src="assets/media/icon/social-media/twitter.svg"
                alt=""
            /></a>
            <a
              ><img
                id="btn-question"
                class="wh-32"
                src="assets/media/icon/social-media/square-whatsapp.svg"
                alt=""
            /></a>
            <a>
              <img
                id="btn-question"
                class="wh-32"
                src="assets/media/icon/social-media/Linkedin.svg"
                alt=""
              />
            </a>
          </div>
        </div>
        <div>
          <p style="color: #595959">Sao chép đường dẫn</p>
          <div
            class="column-center p-6"
            style="border: 1px solid rgba(0, 0, 0, 0.3)"
          >
            <div
              style="
                width: 70%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: inline-block;
              "
            >
              https://hellobacsi.com/ung-thu-ung-buou/ung-thu-xuong/nguyen-nhan-ung-thu-xuong-la-do-dau/
            </div>
            <div class="btn border-0">
              <span class="ps-3 fw-bold" style="color: #2d87f3">
                Sao chép
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container pt-3">
  <div class="row">
    <div class="col-1 d-flex align-items-end flex-column mt-90">
      <button
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        class="border-0 bg-white"
      >
        <img
          id="btn-share"
          class="wh-24 mb-4"
          src="assets/media/icon/share-solid.svg"
          alt=""
        />
      </button>
      <img
        id="btn-bookmark"
        class="wh-24 mb-4"
        [src]="
          isBookmark
            ? 'assets/media/icon/bookmark-fill.svg'
            : 'assets/media/icon/bookmark-line.svg'
        "
        alt=""
      />
      <img
        id="btn-question"
        class="wh-24"
        src="assets/media/icon/ask-question.svg"
        alt=""
      />
    </div>
    <div class="col-11">
      <div class="row">
        <div
          class="col-12 pb-3 column-center"
          style="font-size: 0.875rem; color: #595959"
        >
          <a
            routerLink="/"
            class="wh-30 border-radius-100 column-center row-center"
            style="background-color: rgba(0, 0, 0, 0.1)"
          >
            <i class="fa fa-home fs-20" routerLink="/" aria-hidden="true"></i>
          </a>

          <div class="line-vertical ms-2"></div>
          <span class="ms-3">{{ article?.name_category }}</span>
          <img
            class="wh-24 ms-3 me-3 wh-16 p-3"
            src="assets/media/icon/ios-arrow-24-filled.svg"
            alt=""
          />
        </div>
      </div>
      <div class="row">
        <div class="col-9" id="content-container">
          <button
            type="button"
            style="border: 1px solid rgba(0, 0, 0, 0.3); border-radius: 2rem"
            class="btn my-12"
            data-bs-container="body"
            data-bs-toggle="popover"
            data-bs-placement="bottom"
            data-bs-content="Đây là bài viết có thể hiện quan điểm hoặc góc nhìn cá nhân về một chủ đề cụ thể."
            data-bs-title="Góc nhìn"
          >
            <span class="mr-10">Góc nhìn</span>
            <img src="assets/media/icon/notice.svg" alt="" class="wh-16" />
          </button>
          <div>
            <h1 class="fw-bold mb-2">{{ article?.title }}</h1>

            <p class="column-center my-8">
              <img
                src="assets/media/icon/eye-solid.svg"
                alt=""
                class="wh-14 mr-10"
              />{{ article?.search_number_article || 0 }} lượt xem
            </p>

            <div
              [innerHTML]="article?.content"
              id="content"
              class="w-100"
            ></div>
          </div>
          <div
            class="border-radius-5 mt-3 mb-3 p-10"
            style="background-color: rgb(255, 248, 226)"
          >
            <img src="assets/media/icon/danger-triangle-bold.svg" alt="" />
            <span class="fw-bold">Miễn trừ trách nhiệm</span>
            <p>
              Các bài viết của Elister chỉ có tính chất tham khảo, không thay
              thế cho việc chẩn đoán hoặc điều trị y khoa.
            </p>
          </div>

          <div class="">
            <button
              class="btn w-100 p-0"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseExample"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              <div
                class="border-radius-5 p-10"
                style="border: 1px solid rgba(0, 0, 0, 0.1)"
              >
                <img class="me-2" src="assets/media/icon/plus.svg" alt="" />
                <span class="fw-bold">Lịch sử phiên bản</span>
              </div>
            </button>
          </div>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              <p class="fw-bold mb-3">{{ article?.title }}</p>
              <p>
                <span class="fw-bold mb-2"> Ngày tạo: </span>
                {{ article?.created_at_article }}
              </p>
              <p>
                <span class="fw-bold">Ngày cập nhật gần nhất: </span>
                {{ article?.updated_at_article }}
              </p>
            </div>
          </div>

          <div class="line my-5"></div>
          <div>
            <p class="fw-bold mb-4" style="color: #595959">
              BÀI VIẾT LIÊN QUAN
            </p>

            <ng-container *ngIf="relativeArticles[0]">
              <a routerLink="bai-viet/{{ relativeArticles[0]?.id_article }}">
                <p class="fw-bold mb-3">{{ relativeArticles[0]?.title }}</p>
              </a>
            </ng-container>

            <ng-container *ngIf="relativeArticles[1]">
              <a routerLink="bai-viet/{{ relativeArticles[1]?.id_article }}">
                <p class="fw-bold mb-3">{{ relativeArticles[1]?.title }}</p>
              </a>
            </ng-container>
          </div>
        </div>
        <div
          class="col-3 d-flex flex-column"
          style="
            border: 1px solid rgba(0, 0, 0, 0.1);
            color: #595959;
            font-size: 0.75rem;
          "
        >
          <div class="mb-auto">
            <div class="avatar d-flex justify-content-center mt-3">
              <img
                class="img-Avatar"
                [src]="doctor?.avatar"
                alt="Ảnh bác sĩ"
                onerror="this.src='assets/media/image/avatar_doctor_default.jpg'"
              />
            </div>
            <p class="Info-check text-center mt-3">Thông tin kiểm chứng bởi:</p>
            <p class="checker-Name text-center mt-2 color-primary">
              {{ article?.name_user }}
            </p>
            <div class="line mt-2"></div>
            <div class="article-Info">
              <p class="text-center mt-1">
                Tác giả:
                <span class="fw-bold">{{ article?.name_user }}</span>
                <br />
                Ngày cập nhật:
                {{ article?.updated_at_article }}
              </p>
            </div>
            <div class="line mt-2"></div>
          </div>

          <div>
            <div>
              <img
                src="assets/media/image/Promote.png"
                alt=""
                class="w-100 border-radius-5"
              />
              <div
                class="mt-4 mb-5 p-10"
                style="border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 5px"
              >
                <p class="text-center">Bài viết này có hữu ích với bạn?</p>
                <div class="row-center">
                  <div class="btn border-0 bg-white">
                    <img
                      src="assets/media/icon/check-box.svg"
                      class="wh-48"
                      alt=""
                    />
                  </div>
                  <div class="btn border-0 bg-white">
                    <img
                      src="assets/media/icon/x-fill.svg"
                      class="wh-48"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
