<div class="d-flex">
  <app-sidebar></app-sidebar>
  <div class="container-fluid layout-content">
    <nav class="navbar navbar-light bg-white border-radius-6 px-12 my-20 mx-12">
      <div class="container-fluid">
        <form class="d-flex col-md-8">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
        </form>

        <img
          src="https://lh3.googleusercontent.com/a/ACg8ocIcBt2ydFueGAP7E7wLNuJzG6GM9yQW3hc26fKR28Ey=s96-c"
          alt=""
          class="img-circle wh-48"
        />
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
