<div class="carousel-wrapper">
  <div class="row-between text-center overflow-hidden">
    <div
      *ngFor="let item of items | slice: index : index + 6"
      class="my-animation cursor-pointer carsousel-item"
    >
      <div class="p-16">
        <img
          [src]="item?.image || item?.thumbnail"
          alt=""
          class="wh-92 border-radius-50 img-item"
        />
        <p class="mt-3 fw-600 fs-16" routerLink="/danh-muc/{{ item?.name }}">
          {{ item?.name }}
        </p>
      </div>
    </div>
  </div>

  <div class="row-center mt-20">
    <span class="my-animation" *ngFor="let step of getArrayStep(); index as i">
      <span
        class="slick-dot"
        (click)="changeSlide(i)"
        [class.bg-active]="index === i * numberItemShow"
      ></span>
    </span>
  </div>
</div>
