<aside class="layout-menu">
  <div role="button" class="px-16 py-8 brand-logo">
    <img
      src="assets/media/logo/logo.svg"
      alt="Logo"
      id="logo-main"
      routerLink="/admin"
      class="w-112"
    />
  </div>
  <ul class="menu-wrapper">
    <li
      *ngFor="let item of menuItems; let i = index"
      routerLink="{{ item.routerLink }}"
      routerLinkActive="active"
      class="menu-item"
      [attr.href]="item.subItems ? '#collapse' + i : null"
      role="button"
      aria-expanded="false"
      aria-controls="collapseExample"
      data-bs-toggle="collapse"
    >
      {{ item.label }}
      <ul
        class="collapse"
        [id]="'collapse' + i"
        *ngIf="item.subItems && item.subItems.length"
      >
        <li
          *ngFor="let subItem of item.subItems"
          routerLink="{{ subItem.routerLink }}"
          routerLinkActive="active"
          class="menu-sub-item"
        >
          {{ subItem.label }}
        </li>
      </ul>
    </li>

    <!-- <li
      class="menu-item"
      data-bs-toggle="collapse"
      href="#collapseCommon"
      role="button"
      aria-expanded="false"
      aria-controls="collapseExample"
    >
      Quản lý chung
    </li>
    <ul class="collapse" id="collapseCommon">
      <li class="menu-sub-item">Danh mục</li>
      <li class="menu-sub-item">Chuyên khoa</li>
    </ul> -->
    <!-- <li class="menu-item">Người dùng</li>
    <li class="menu-item">Đối tác</li>
    <li class="menu-item">Dịch vụ</li>
    <li class="menu-item">Bác sĩ</li>
    <li class="menu-item">Bài viết</li>
    <li class="menu-item">Hội thoại</li>
    <li class="menu-item">Lịch hẹn</li>
    <li class="menu-item">Lịch làm việc</li>
    <li class="menu-item">Xin phép nghỉ</li>
    <li class="menu-item">Thống kê</li>
    <li class="menu-item">Cài đặt</li> -->
  </ul>
</aside>
