.layout-menu {
    background-color: rgb(252, 252, 252);
    height: 100%;
}

.brand-logo {
    border-bottom: 1px solid #e4e8ec;
}

.menu-item,
.menu-sub-item {
    padding: 8px 16px;
    cursor: pointer;

    &:hover {
        color: #11B3CF;
        background-color: #edf0f2 !important;
    }
}

.active {
    color: #0b8aa0;
    background-color: #edf0f2 !important;
    font-weight: 600;
}

.menu-sub-item {
    padding: 8px 24px;
    list-style: circle inside;
}

* {
    font-size: 15px;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    max-width: 100%;
    // height: 100%;
    overflow: hidden;
    z-index: 10;

    &:hover {
        overflow: auto;
    }
}


::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background-color: #fff
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 10px;
    border: 1px solid transparent;
    background-clip: content-box
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf
}