<div style="padding: 20px 40px">
  <div id="radio-container">
    <div class="conatiner">
      <div class="col-2"></div>
      <a routerLink="/auth/sign-in">
        <div style="border-radius: 5px 0 0 5px" class="btn col-5 border">
          Đăng nhập
        </div>
      </a>
      <a routerLink="/auth/sign-up">
        <div
          style="border-radius: 0 5px 5px 0"
          class="btn col-5 bg-info text-white"
        >
          Đăng kí
        </div>
      </a>
      <div class="col-2"></div>
    </div>
  </div>
  <h2>Đăng kí</h2>
  <form
    action=""
    method=""
    class="pb-50"
    style="padding-bottom: 83px"
    [formGroup]="loginForm"
  >
    <!-- <p>Họ và tên</p> -->
    <div class="border mb-2">
      <img class="icon" src="assets/media/icon/user.svg" alt="" />
      <input
        class="inp"
        type="text"
        placeholder="Họ và tên"
        name="name"
        formControlName="name"
      />
    </div>
    <div
      class="warning"
      *ngIf="isShowName && nameControl && nameControl.hasError('required')"
    >
      Bạn phải nhập tên.
    </div>
    <!-- <p>Email</p> -->
    <div class="border mb-2">
      <img class="icon" src="assets/media/icon/email-outline.svg" alt="" />
      <input
        class="inp"
        type="email"
        placeholder="Email"
        name="email"
        formControlName="email"
      />
    </div>
    <div
      class="warning"
      *ngIf="isShowEmail && emailControl && emailControl.hasError('required')"
    >
      Bạn phải nhập email.
    </div>
    <div
      class="warning"
      *ngIf="isShowEmail && emailControl && emailControl.hasError('email')"
    >
      Hãy nhập email hợp lệ.
    </div>
    <hr />
    <!-- <p>Mật khẩu</p> -->
    <div class="border mb-2">
      <img class="icon" src="assets/media/icon/password-outline.svg" alt="" />
      <input
        class="inp passwordInp"
        type="password"
        placeholder="Nhập mật khẩu"
        name="password"
        formControlName="password"
      />
    </div>
    <div
      class="warning"
      *ngIf="isShowPass && passControl && passControl.hasError('required')"
    >
      Bạn phải nhập mật khẩu.
    </div>
    <!-- <p id="confirm-pass">Xác nhận mật khẩu</p> -->
    <div class="border mb-2">
      <img class="icon" src="assets/media/icon/password-outline.svg" alt="" />
      <input
        class="inp passwordInp"
        type="password"
        placeholder="Xác nhận mật khẩu"
        name="confirm"
        formControlName="confirm"
      />
    </div>
    <div
      class="warning"
      *ngIf="
        isShowConfirm && confirmControl && confirmControl.hasError('required')
      "
    >
      Bạn phải xác nhập mật khẩu.
    </div>
    <hr />
    <input type="checkbox" id="show" (click)="hideShowPass()" />
    <label for="show">Hiển thị mật khẩu</label>
    <!-- <a href="" id="forgot-pass">Forgot password?</a> -->
    <!-- <input type="submit" value="Sign up"> -->
    <div
      class="btn btn-secondary d-flex justify-content-center"
      id="btn-login"
      (click)="signup()"
    >
      <div
        class="spinner-border spinner-border-sm text-primary d-none"
        id="loading"
        role="status"
        style="margin-top: 3px; margin-right: 5px"
      >
        <span class="visually-hidden">Loading...</span>
      </div>
      <p>Đăng kí</p>
    </div>
  </form>
  <div class="container position-absolute bottom-0 start-0 mb-30">
    <p class="text-center" id="or">Hoặc đăng nhập bằng:</p>
    <div id="social-media-container">
      <img src="assets/media/icon/social-media/facebook1.svg" alt="" />
      <img src="assets/media/icon/social-media/twitter.svg" alt="" />
      <img
        src="assets/media/icon/social-media/google-contained-fill.svg"
        alt=""
      />
    </div>
  </div>
</div>
