<h1 class="fs-28 fw-700 mb-20">Đã lưu</h1>
<ul class="d-flex w-100 border-bottom">
  <li
    class="nav-tab"
    (click)="chooseTab('waitBooking')"
    [class.active]="tab === 'waitBooking'"
  >
    Lịch hẹn sắp đến ({{ number }})
  </li>
  <li
    class="nav-tab"
    (click)="chooseTab('doneBooking')"
    [class.active]="tab === 'doneBooking'"
  >
    Hoàn thành ({{ number }})
  </li>
  <li
    class="nav-tab"
    (click)="chooseTab('historyBooking')"
    [class.active]="tab === 'historyBooking'"
  >
    Lịch sử đặt chỗ
  </li>
</ul>

<div *ngIf="items.length > 0">
  <div class="d-flex py-20 border-bottom" *ngFor="let item of items">
    <div class="col-3">
      <img src="{{ item.image }}" alt="" class="w-100 h-86 border-radius-8" />
    </div>
    <div class="col-9 ml-30">
      <h3 class="fs-18 fw-700 mb-10 color-link cursor-pointer">
        {{ item.type }}
      </h3>
      <p class="fs-18 fw-700 mb-10 cursor-pointer">{{ item.title }}</p>
      <div class="column-center">
        <img
          src="{{ item.author.avatar }}"
          alt=""
          class="w-36 h-36 border-radius-50"
        />
        <p class="fs-14 fw-400 ml-20 color-sub">{{ item.author.name }}</p>
      </div>
    </div>
  </div>
</div>

<div class="text-center" *ngIf="items.length === 0">
  <img src="assets/media/icon/calendarEmpty.svg" alt="" />
  <div *ngIf="tab === 'waitBooking'">
    <h2 class="fw-700 fs-18 mb-20">Không có lịch hẹn sắp đến</h2>
    <div class="color-sub fs-14">
      Đừng lo lắng. Đặt lịch hẹn với một chuyên gia gần đó
    </div>
  </div>

  <div *ngIf="tab !== 'waitBooking'">
    <h2 class="fw-700 fs-18 mb-20">Không có lịch sử đặt lịch</h2>
    <div class="color-sub fs-14">
      Lịch sử lịch hẹn của bạn sẽ xuất hiện ở đây
    </div>
  </div>
</div>
