<div class="fw-700 mb-20 row-between">
  <span class="fs-28">Lịch sử đặt chỗ</span>
  <div class="form-check form-switch">
    <input
      class="form-check-input cursor-pointer"
      type="checkbox"
      role="switch"
      id="flexSwitchCheckChecked"
      [checked]="typeView === 'calendar'"
      (change)="typeView = typeView === 'calendar' ? 'table' : 'calendar'"
    />
    <label class="form-check-label" for="flexSwitchCheckChecked"
      >Xem lịch
    </label>
  </div>
</div>
<ul class="d-flex w-100 border-bottom">
  <li
    class="nav-tab"
    (click)="chooseTab('waitBooking')"
    [class.active]="tab === 'waitBooking'"
  >
    Lịch hẹn sắp đến ({{ waitNumber }})
  </li>
  <li
    class="nav-tab"
    (click)="chooseTab('doneBooking')"
    [class.active]="tab === 'doneBooking'"
  >
    Hoàn thành ({{ doneNumber }})
  </li>
  <li
    class="nav-tab"
    (click)="chooseTab('historyBooking')"
    [class.active]="tab === 'historyBooking'"
  >
    Lịch sử đặt chỗ
  </li>
</ul>

<div *ngIf="items.length > 0">
  <div class="event-schedule-area-two bg-color pad100">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 px-0" *ngIf="typeView === 'table'">
          <div class="table-responsive">
            <table
              class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3"
            >
              <thead>
                <tr>
                  <th class="text-center">Thời gian</th>
                  <th>Thông tin</th>
                  <th class="text-center">Địa điểm</th>
                  <th class="text-center">Hành động</th>
                </tr>
              </thead>

              <tbody>
                <!-- <div class="d-flex py-20 border-bottom" > -->
                <tr class="inner-box" *ngFor="let item of items; let i = index">
                  <th scope="row" class="text-center">
                    <span class="fs-30">{{ item.day }}</span>
                    <p>{{ item.month }}</p>
                  </th>

                  <td>
                    <h5 class="color-primary">
                      {{ item?.service_name || "Lịch tư vấn" }}
                    </h5>
                    <div class="my-8 fs-14">
                      <i
                        class="fa fa-user-md fs-16 mr-4"
                        aria-hidden="true"
                      ></i>
                      {{ item?.doctor_name || "Đang cập nhật tên bác sĩ" }}
                    </div>
                    <div class="my-8 fs-14">
                      <i
                        class="fa fa-stethoscope fs-16 mr-4"
                        aria-hidden="true"
                      ></i>
                      {{ item?.department_name }}
                    </div>
                    <div class="my-8 fs-14">
                      <i
                        class="fa fa-calendar fs-16 mr-4"
                        aria-hidden="true"
                      ></i>
                      {{ item?.work_schedule_time?.interval[0] }} -
                      {{ item?.work_schedule_time?.interval[1] }}
                    </div>
                  </td>
                  <td>
                    <div class="text-center">
                      <span>{{ item?.hospital_address }}</span>
                    </div>
                  </td>
                  <!-- Button trigger modal -->
                  <td class="text-center">
                    <button
                      type="button"
                      id="{{ item.id }}"
                      class="btn btn-primary-1 text-white"
                      data-bs-toggle="modal"
                      data-bs-target="#detailModal"
                      (click)="itemSelected = item"
                    >
                      Xem
                    </button>

                    <button
                      type="button"
                      *ngIf="tab === 'waitBooking'"
                      class="btn btn-danger ml-12"
                      data-bs-toggle="modal"
                      data-bs-target="#deleteOne"
                      (click)="itemSelected = item"
                    >
                      Hủy
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-lg-12 px-0" *ngIf="typeView === 'calendar'">
          <div class="demo-app" *ngIf="!isLoading">
            <div class="demo-app-main">
              <full-calendar
                *ngIf="calendarVisible()"
                [options]="calendarOptions()"
              >
                <ng-template #eventContent let-arg>
                  <b>{{ arg.timeText }}</b>
                  <i>{{ arg.event.title }}</i>
                </ng-template>
              </full-calendar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isLoading">
  <div class="wrapper-spinner" *ngIf="isLoading">
    <ngx-spinner
      bdColor="rgba(0,0,0,0)"
      size="default"
      color="#2095c4"
      type="ball-pulse-sync"
      [fullScreen]="false"
    >
      <p class="color-primary">Đang tải dữ liệu</p>
    </ngx-spinner>
  </div>
</div>
<div class="text-center" *ngIf="items.length === 0 && !isLoading">
  <img src="assets/media/icon/calendarEmpty.svg" alt="" />
  <div *ngIf="tab === 'waitBooking'">
    <h2 class="fw-700 fs-18 mb-20">Không có lịch hẹn sắp đến</h2>
    <div class="color-sub fs-14">
      Đừng lo lắng. Đặt lịch hẹn với một chuyên gia gần đó
    </div>
  </div>

  <div *ngIf="tab === 'doneBooking'">
    <h2 class="fw-700 fs-18 mb-20">Không có lịch hẹn đã hoàn thành</h2>
    <div class="color-sub fs-14">
      Lịch hẹn đã hoàn thành của bạn sẽ xuất hiện ở đây
    </div>
  </div>
  <div *ngIf="tab === 'historyBooking'">
    <h2 class="fw-700 fs-18 mb-20">Không có lịch hẹn đã hoàn thành</h2>
    <div class="color-sub fs-14">
      Lịch hẹn đã hoàn thành của bạn sẽ xuất hiện ở đây
    </div>
  </div>
</div>

<!-- Modal detail -->
<div
  class="modal fade"
  id="detailModal"
  tabindex="-1"
  aria-labelledby="detailModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 fw-700 color-primary" id="detailModalLabel">
          {{ itemSelected?.service_name || "Lịch tư vấn" }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div id="service-container">
          <h5
            *ngIf="itemSelected?.service_infor?.about_service"
            class="fw-700 mb-3"
          >
            Về dịch vụ
          </h5>
          <div [innerHTML]="itemSelected?.service_infor?.about_service"></div>
          <h5
            *ngIf="itemSelected?.service_infor?.prepare_process"
            class="fw-700 mb-3"
          >
            Quy trình
          </h5>
          <div [innerHTML]="itemSelected?.service_infor?.prepare_process"></div>
          <h5 class="fw-700 mb-3">Chi tiết dịch vụ</h5>
          <div [innerHTML]="itemSelected?.service_infor?.prepare_process"></div>
        </div>
        <div [innerHTML]="itemSelected?.work_schedule_content"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Đóng
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal deleteOne -->
<div id="deleteOne" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header d-flex flex-column border-0">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="icon-box">
          <i
            class="fa fa-times mb-3 fw-100 fs-40l border-radius-100 p-30"
            aria-hidden="true"
            style="border: 4px solid rgb(233, 69, 69); color: rgb(233, 69, 69)"
          ></i>
        </div>
        <h4 class="modal-title w-100 text-center">
          Bạn có chắc chắn muốn hủy?
        </h4>
      </div>
      <div class="modal-body text-center">
        <p class="ps-3 pe-3 opacity-7">
          Khi xác nhận hủy lịch hẹn, lịch hẹn sẽ biến mất. Quá trình này không
          thể hoàn tác.
        </p>
      </div>
      <div class="modal-footer row-center border-0">
        <button
          id="btnCloseModalDelete"
          type="button"
          class="btn btn-secondary opacity-7"
          data-bs-dismiss="modal"
        >
          Huỷ
        </button>
        <button
          type="button"
          class="btn btn-danger column-center"
          (click)="deleteOne()"
        >
          <div class="loader" *ngIf="isDeleting"></div>
          Xác nhận
        </button>
      </div>
    </div>
  </div>
</div>

<button
  hidden
  data-bs-toggle="modal"
  data-bs-target="#modalShowInfo"
  id="btnOpenModalShowInfo"
></button>

<div
  class="modal fade"
  id="modalShowInfo"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalShowInfoLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content p-30">
      <div class="modal-header row-center position-relative">
        <h5 class="modal-title color-primary">
          Xem thông tin chi tiết lịch hẹn
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-2">
            <img
              [src]="itemSelected?.user_avatar"
              alt=""
              class="avatar wh-80"
              onerror="this.src='assets/media/image/avatar_user_default.png'"
            />
          </div>
          <div class="col-10">
            <table class="fs-16">
              <tr>
                <th>Họ tên bệnh nhân:</th>
                <td>{{ itemSelected?.user_name }}</td>
              </tr>
              <tr>
                <th>Ngày sinh:</th>
                <td>
                  {{ itemSelected?.user_date_of_birth | date: "dd/MM/yyyy" }}
                </td>
              </tr>
              <tr>
                <th>Địa chỉ:</th>
                <td>{{ itemSelected?.user_address }}</td>
              </tr>
              <tr>
                <th>Số điện thoại:</th>
                <td>{{ itemSelected?.user_phone }}</td>
              </tr>
              <tr>
                <th>Email:</th>
                <td>{{ itemSelected?.user_email }}</td>
              </tr>
              <tr>
                <th>Tên dịch vụ tư vấn:</th>
                <td>{{ itemSelected?.service_name || "Lịch tư vấn" }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
