.card-header {
    background-color: transparent !important;
    border: none;
}

.border-right {
    border-right: 1px solid #d9dee3;
}

button.active {
    color: #fff !important;
}

.bg-label-primary {
    background-color: #e7e7ff !important;
    color: #696cff !important;
}

.bg-label-info {
    background-color: #d7f5fc !important;
    color: #03c3ec !important;
}

.avatar img {
    width: 40px;
}