<div class="container">
  <div class="dashboard">
    <div class="column-center flex-end">
      <h6 class="fs-14 my-3 fw-700 mr-20">Thời gian</h6>
      <div class="col-3">
        <input
          type="date"
          class="form-control"
          id="dateFilter"
          placeholder="Chọn thời gian"
        />
      </div>
    </div>
    <!-- account -->
    <ng-container *ngIf="role === 'admin'">
      <app-dashboard-account></app-dashboard-account>
    </ng-container>

    <div class="my-30"></div>
    <!-- article -->
    <app-dashboard-article></app-dashboard-article>

    <!-- top -->
    <div class="col-sm-12 col-md-6 col-lg-4 pr-sm"></div>
  </div>
</div>
