<div
  style="
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    height: 300px;
  "
>
  <div class="d-flex justify-content-center" style="background-color: #e3f2ff">
    <img
      style="width: 70%; max-width: 150px"
      class="p-4"
      src="https://cdn.hellobacsi.com/assets/avatar-default.png"
      alt=""
    />
  </div>
  <p class="fw-700 mt-3" style="text-align: center">Bác sĩ Lê Thị Mỹ Duyên</p>
  <div style="color: rgba(0, 0, 0, 0.7); text-align: center">
    <span>Đa khoa</span>
    •
    <span>Nha khoa Cẩm Tú</span>
  </div>
</div>
