<div class="mx-4">
  <div class="fw-bolder fs-5 mb-3 ml-4 row-between">
    <span>Quản lý lịch hẹn</span>
    <div class="form-check form-switch">
      <input
        class="form-check-input cursor-pointer"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckChecked"
        [checked]="type === 'calendar'"
        (change)="type = type === 'calendar' ? 'table' : 'calendar'"
      />
      <label class="form-check-label" for="flexSwitchCheckChecked"
        >Xem lịch
      </label>
    </div>
  </div>

  <div *ngIf="type === 'table'">
    <div class="card fw-bold">
      <div class="card-body">
        <div class="mb-20">
          <div class="col-sm-4">
            <input
              type="text"
              class="form-control"
              placeholder="Tìm kiếm"
              [(ngModel)]="textSearch"
            />
          </div>
        </div>

        <div class="table-responsive">
          <table
            class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3"
          >
            <thead>
              <tr>
                <th>
                  <div
                    class="form-check form-check-sm form-check-custom form-check-solid"
                  >
                    <input
                      [(ngModel)]="isSelectAll"
                      (click)="onCheckAllSelected()"
                      class="form-check-input"
                      type="checkbox"
                    />
                  </div>
                </th>
                <th>Tên người hẹn</th>
                <th class="text-center">Ảnh</th>
                <th class="text-center">Bác sĩ</th>
                <th class="text-center">Dịch vụ</th>
                <th class="text-center">Chuyên khoa</th>
                <th class="text-center">Giá tiền</th>
                <th class="text-center">Lịch hẹn</th>
                <th class="text-center">Hành động</th>
              </tr>
            </thead>

            <tbody>
              <tr
                *ngFor="
                  let item of dataSources | filter : ['user_name'] : textSearch
                "
              >
                <td>
                  <div
                    class="form-check form-check-sm form-check-custom form-check-solid"
                  >
                    <input
                      [(ngModel)]="item.checked"
                      (click)="onItemSelected(item)"
                      class="form-check-input widget-13-check"
                      type="checkbox"
                      value="1"
                    />
                  </div>
                </td>

                <td>
                  <span class="text-hover-primary cursor-pointer">
                    {{ item?.user_name }}
                  </span>
                </td>

                <td class="text-center">
                  <img
                    [src]="item?.user_avatar"
                    alt=""
                    class="thumbnail"
                    onError="this.src='assets/media/image/avatar_user_default.png'"
                  />
                </td>

                <td class="text-center">
                  <span class="text-hover-primary">
                    {{ item?.doctor_name }}

                    <span *ngIf="!item?.doctor_name" class="text-warning"
                      >Chưa chỉ định bác sĩ</span
                    >
                  </span>
                </td>

                <td class="text-center">
                  <span class="text-hover-primary">
                    {{ item?.service_name || "Dịch vụ tư vấn" }}
                  </span>
                </td>

                <td class="text-center">
                  <span class="text-hover-primary">
                    {{ item?.department_name }}
                  </span>
                </td>

                <td class="text-center">
                  <span class="text-hover-primary">
                    {{ item?.work_schedule_price | currency : "VND" }}
                  </span>
                </td>

                <td class="text-center">
                  <span class="text-hover-primary">
                    {{ item?.work_schedule_time?.interval[0] }}-{{
                      item?.work_schedule_time?.interval[1]
                    }},
                    {{ item?.work_schedule_time.date | date : "dd/MM/yyyy" }}
                  </span>
                </td>

                <!-- Action -->
                <td>
                  <div class="row-center">
                    <button
                      class="btn btn-sm btn-warning"
                      data-bs-toggle="modal"
                      data-bs-target="#modalShowInfo"
                      (click)="
                        selectedItem = item;
                        getListDoctorSpecify(item?.work_schedule_id)
                      "
                    >
                      <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                    <!-- Edit -->
                    <button
                      (click)="selectedItem = item"
                      data-bs-toggle="modal"
                      data-bs-target="#modalEdit"
                      class="btn btn-sm btn-primary ml-6"
                    >
                      <i
                        class="fa fa-pencil-square-o fs-15"
                        aria-hidden="true"
                      ></i>
                    </button>

                    <!-- Delete -->
                    <button
                      (click)="selectedItem = item"
                      data-bs-toggle="modal"
                      data-bs-target="#cancleModal"
                      class="btn btn-danger ml-6"
                    >
                      <i class="fa fa-user-times" aria-hidden="true"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div
          class="text-center text-danger"
          *ngIf="dataSources?.length == 0 && isErrorGetData"
        >
          Lỗi không lấy được dữ liệu
        </div>
      </div>
    </div>

    <!-- <app-paginate
      *ngIf="dataSources"
      [currentPage]="currentPage"
      [numberElementOfPage]="numberElementOfPage"
      [totalPage]="totalPage"
      [totalElements]="totalElements"
      (changePage)="onChangePage($event)"
    ></app-paginate> -->
  </div>

  <div *ngIf="type === 'calendar'">
    <div class="demo-app" *ngIf="!isLoading">
      <div class="demo-app-main">
        <full-calendar *ngIf="calendarVisible()" [options]="calendarOptions()">
          <ng-template #eventContent let-arg>
            <b>{{ arg.timeText }}</b>
            <i>{{ arg.event.title }}</i>
          </ng-template>
        </full-calendar>
      </div>
    </div>
  </div>

  <div class="wrapper-spinner" *ngIf="isLoading">
    <ngx-spinner
      bdColor="rgba(0,0,0,0)"
      size="default"
      color="#11B3CF"
      type="ball-pulse-sync"
      [fullScreen]="false"
    >
      <p class="color-primary">Đang tải dữ liệu</p>
    </ngx-spinner>
  </div>

  <div class="text-center text-danger" *ngIf="isErrorGetData">
    Lỗi không lấy được dữ liệu
  </div>
</div>

<button
  hidden
  data-bs-toggle="modal"
  data-bs-target="#modalShowInfo"
  id="btnOpenModalShowInfo"
></button>

<!-- Modal show info user -->
<div
  class="modal fade"
  id="modalShowInfo"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalShowInfoLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content p-30">
      <div class="modal-header row-center position-relative">
        <h5 class="modal-title color-primary">
          Xem thông tin chi tiết lịch hẹn
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-2">
            <img
              [src]="selectedItem?.user_avatar"
              alt=""
              class="avatar-user"
              onError="this.src='assets/media/image/avatar_user_default.png'"
            />
          </div>
          <div class="col-10">
            <table class="fs-16 table-info">
              <tr>
                <th>Họ tên bệnh nhân:</th>
                <td>{{ selectedItem?.user_name }}</td>
              </tr>
              <tr>
                <th>Ngày sinh:</th>
                <td>
                  {{ selectedItem?.user_date_of_birth | date : "dd/MM/yyyy" }}
                </td>
              </tr>
              <tr>
                <th>Địa chỉ:</th>
                <td>{{ selectedItem?.user_address }}</td>
              </tr>
              <tr>
                <th>Số điện thoại:</th>
                <td>{{ selectedItem?.user_phone }}</td>
              </tr>
              <tr>
                <th>Email:</th>
                <td>{{ selectedItem?.user_email }}</td>
              </tr>
              <tr>
                <th>Tên dịch vụ tư vấn:</th>
                <td>{{ selectedItem?.service_name || "Dịch vụ tư vấn" }}</td>
              </tr>

              <tr *ngIf="!selectedItem?.service_id">
                <th>Tên bác sĩ:</th>
                <td>{{ selectedItem?.doctor_name }}</td>
              </tr>

              <tr *ngIf="selectedItem?.service_id">
                <th>Chỉ định bác sĩ:</th>
                <td>
                  <ng-select
                    [(ngModel)]="idDoctorSpecify"
                    placeholder="'Chọn bác sĩ muốn chỉ định'"
                    *ngIf="!isEmptyDoctorSpecify && doctorsSpecify?.length"
                  >
                    <ng-option
                      *ngFor="let doctor of doctorsSpecify"
                      [value]="doctor?.id_doctor"
                    >
                      {{ doctor?.name }}
                    </ng-option>
                  </ng-select>

                  <span
                    *ngIf="isEmptyDoctorSpecify || doctorsSpecify?.length === 0"
                  >
                    <span
                      *ngIf="!selectedItem?.doctor_name"
                      class="text-warning"
                    >
                      Không có bác sĩ nào có thể chỉ định</span
                    >
                    <span *ngIf="selectedItem?.doctor_name">
                      {{ selectedItem?.doctor_name }}
                    </span>
                  </span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="modal-footer" *ngIf="selectedItem?.service_id">
        <div class="d-flex justify-content-end mt-12">
          <button
            type="button"
            class="btn btn-secondary mr-12"
            data-bs-dismiss="modal"
            id="closeModalShowInfo"
          >
            Huỷ
          </button>
          <button
            class="btn btn-primary-1 w-150px column-center"
            (click)="specifyDoctor()"
          >
            <div class="loader" *ngIf="isSpecifying"></div>
            Lưu
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Delete one modal -->
<div
  class="modal fade"
  id="cancleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="cancleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <h5 class="text-center my-20 fw-bold">
        Bạn có thực sự muốn huỷ lịch hẹn với
        <span class="text-warning">{{ selectedItem?.user_name }}</span>
        ?
      </h5>

      <div class="text-center mb-20">Quá trình này không thể hoàn tác.</div>

      <div class="text-center mb-20 text-danger" *ngIf="isErrorCancle">
        Huỷ lịch hẹn thất bại. Vui lòng thử lại!
      </div>
      <div class="modal-footer row-center">
        <button
          type="button"
          class="btn btn-secondary w-150px mr-10"
          data-bs-dismiss="modal"
          id="dismissCancleModal"
        >
          Hủy
        </button>
        <button
          type="button"
          class="btn btn-danger w-150px column-center"
          (click)="onCancleAppointment()"
        >
          <div class="loader" *ngIf="isCancling"></div>
          Huỷ lịch hẹn
        </button>
      </div>
    </div>
  </div>
</div>
