<div class="container component m-auto py-50" style="width: 800px">
  <div *ngIf="isVerify" class="column-center flex-column">
    <div class="loader"></div>
    <div class="my-20 fw-bold fs-18 color-text-primary">
      Hệ thống đang xác thực
    </div>
  </div>

  <div *ngIf="!isVerify && isSuccess" class="column-center flex-column">
    <i class="fa fa-check-circle fs-200 text-success" aria-hidden="true"></i>
    <div class="my-20 fw-bold fs-18 color-text-primary">
      Xác thực thành công. Bấm vào đây để
      <a routerLink="/auth/sign-in/admin" class="color-primary">đăng nhập</a>
    </div>
  </div>

  <div *ngIf="!isVerify && !isSuccess" class="column-center flex-column">
    <i class="fa fa-check-circle fs-200 text-danger" aria-hidden="true"></i>
    <div class="my-20 fw-bold fs-18 color-text-primary">
      Thông tin xác thực không hợp lệ
    </div>
  </div>
</div>
