<div class="sub-header position-relative">
  <div class="row">
    <div class="col-3 left-content pr-20">
      <h5 class="mb-20 fw-700">
        <span>{{ data.title }}</span>
      </h5>
      <div *ngFor="let item of data.items | slice : 0 : 6" class="py-10">
        <div>
          <img
            [src]="item?.thumbnail"
            alt=""
            class="icon-sub-header border-radius-4 wh-32"
          />
          <span class="ml-8">{{ item?.name }}</span>
        </div>
      </div>

      <div>
        <button class="btn btn-outline-primary w-100 my-10" (click)="viewAll()">
          Xem tất cả
        </button>
      </div>
    </div>
    <div class="col-9 pl-20 position-relative">
      <h6 class="fw-700 mb-20">Tâm điểm</h6>
      <div class="row d-flex justify-content-between">
        <div class="col-4" *ngFor="let new of news">
          <div class="card">
            <img src="{{ new.image }}" class="card-img-top" alt="Image" />
            <div class="card-body">
              <h5 class="card-title fs-16 fw-700">{{ new.title }}</h5>
              <p class="card-text fs-14">{{ new.content }}</p>
              <p class="view-more d-flex align-items-center mt-12">
                Xem thêm
                <img src="assets/media/icon/arrow_right.svg" alt="" />
              </p>
            </div>
          </div>
        </div>
      </div>
      <span
        class="fs-30 icon-close position-absolute"
        (click)="onCloseSubHeader()"
        >&times;
      </span>
    </div>
  </div>
</div>
