.w-48 {
  width: 48%;
}

.min-w-80px {
  min-width: 80px;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.disable {
  background-color: rgba(153, 161, 174, 0.3) !important;
}

.btn {
  padding: 10px 10px !important;
  &-icon {
    width: 30px;
    height: 30px;
  }
  &-wrapper {
    justify-content: space-between;
  }
}

.btn-wrapper > div > button {
  min-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;

}
