<nav
  aria-label="Page navigation example"
  class="row-between column-center flex-wrap py-5 mx-20"
>
  <span class="text-muted">
    Hiển thị
    {{ totalElements ? (currentPage - 1) * pageSize + 1 : 0 }}
    đến
    {{ (currentPage - 1) * pageSize + numberElementOfPage }}
    của {{ totalElements }} phần tử
  </span>
  <ul class="pagination">
    <select
      [(ngModel)]="pageSize"
      (change)="onChangePageSize()"
      class="form-select form-select-solid form-select-md select-paginate mr-20"
    >
      <option [value]="size" *ngFor="let size of pageSizeOptions">
        {{ size }}
      </option>
    </select>

    <!-- First page -->
    <li class="page-item" (click)="firstPage()">
      <a class="page-link cursor-pointer" aria-label="First page">
        <i class="fa fa-angle-double-left"></i>
      </a>
    </li>
    <!-- First page -->

    <!-- Previous page -->
    <li class="page-item" (click)="previousPage()">
      <a class="page-link cursor-pointer" aria-label="Previous">
        <i class="fa fa-angle-left"></i>
      </a>
    </li>
    <!-- Previous page -->

    <!-- list page -->
    <ng-container *ngIf="totalPage <= 5">
      <li
        class="page-item"
        *ngFor="let p of arrayNumberPage; let i = index"
        [class.active]="currentPage - 1 == i"
        (click)="onChangePage(p)"
      >
        <a class="page-link cursor-pointer">{{ p }}</a>
      </li>
    </ng-container>

    <ng-container *ngIf="totalPage > 5 && currentPage + 2 <= totalPage">
      <ng-container *ngIf="currentPage <= 3">
        <li
          class="page-item"
          *ngFor="let p of arrayNumberPage; let i = index"
          [class.active]="currentPage - 1 == i"
          onChangePage(p)
        >
          <a class="page-link cursor-pointer">{{ p }}</a>
        </li>
      </ng-container>

      <ng-container *ngIf="currentPage <= 3">
        <li
          class="page-item"
          *ngFor="let p of arrayNumberPage; let i = index"
          [class.active]="i == 2"
          onChangePage(p)
        >
          <a class="page-link cursor-pointer">{{ p }}</a>
        </li>
      </ng-container>
    </ng-container>

    <ng-container
      *ngIf="totalPage > 5 && currentPage + 2 > totalPage"
      class="row"
    >
      <li
        class="page-item"
        *ngFor="let p of arrayNumberPage; let i = index"
        [class.active]="i == currentPage - totalPage + 4"
        onChangePage(p)
      >
        <a class="page-link cursor-pointer">{{ p }}</a>
      </li>
    </ng-container>
    <!-- list page -->

    <!-- Next page -->
    <li class="page-item" (click)="nextPage()">
      <a class="page-link cursor-pointer" aria-label="Next">
        <i class="fa fa-angle-right"></i>
      </a>
    </li>
    <!-- Next page -->

    <!-- End page -->
    <li class="page-item" (click)="endPage()">
      <a class="page-link cursor-pointer" aria-label="End page">
        <i class="fa fa-angle-double-right"></i>
      </a>
    </li>
    <!-- End page -->
  </ul>
</nav>
