<h1 class="fs-28 fw-700 mb-20">Vô hiệu hoá tài khoản</h1>

<div class="text-center">
  <img src="assets/media/icon/user-disable.svg" class="w-88 h-88" alt="" />
</div>

<div class="color-sub">
  <p>nguyentoan10239-aQW thân mến,</p>
  <p>
    Chúng tôi rất tiếc vì tài khoản của bạn đã bị vô hiệu hóa. Sứ mệnh của chúng
    tôi là mang đến hành trình chăm sóc sức khỏe tiện lợi dành cho bạn. Chúng
    tôi luôn nỗ lực hết mình để hỗ trợ bạn, mong rằng chúng tôi sẽ có cơ hội xử
    lý các sự cố hoặc vấn đề khó khăn bạn đang gặp phải với tài khoản của mình.
  </p>
  <p>
    Sau khi bị vô hiệu hóa tài khoản tại Elister, bạn sẽ có 30 ngày để khôi phục
    lại tài khoản bằng cách đăng nhập lại. Nếu bạn không thực hiện thao tác này,
    tài khoản của bạn với các dữ liệu, thông tin sức khỏe và lịch sử đặt khám sẽ
    không còn có thể truy cập hay khôi phục được nữa, đồng nghĩa với việc tài
    khoản sẽ bị xóa vĩnh viễn.
  </p>
</div>

<button type="submit" class="btn btn-secondary w-100 mt-30">
  Vô hiệu hoá tài khoản
</button>
