<div class="card my-30 p-0" *ngFor="let service of services">
  <div class="card-body p-0">
    <div class="p-12">
      <div class="fw-bold">{{ service?.name }}</div>
      <div class="my-8">
        <span style="color: #595959">
            <i class="fa fa-money" aria-hidden="true"></i>
            Giá tiền:
          </span>
        <span class="text-success">{{
          service?.price_hospital_service | currency : "VND"
        }}</span>
      </div>
    </div>
    <div class="row-between info-hospital column-center p-12">
      <div class="column-center">
        <img [src]="hospital?.avatar" alt="" class="avatar-hospital" />
        <div class="ml-20">
          <div class="fw-bold">{{ hospital?.name }}</div>
          <div class="fs-12" style="color: rgb(89, 89, 89);">{{ hospital?.address }}</div>
        </div>
      </div>

      <div>
        <button class="btn btn-primary-1">Đặt lịch hẹn</button>
      </div>
    </div>
  </div>
</div>
