@import './font-color.scss';

.btn {
    font-size: 13px !important;
    font-weight: 600;

    &-primary-1 {
        background-color: #2095c4 !important;
        color: white !important;

        &:hover,
        &:active,
        &:disabled {
            background-color: #308a9a !important;
            color: white !important;
        }
    }

    &-outline {
        &-gray {
            border: 1px solid rgb(210, 214, 220) !important;
            background: white !important;
            font-weight: 600;

            &:hover {
                background-color: $color-neutral50 !important;
            }
        }

        &-primary {
            border: 1px solid $color-primaryBase !important;
            background: white !important;
            color: $color-primaryBase !important;
            font-weight: 600;

            &:hover,
            &:focus,
            &:active {
                background-color: $color-primaryBase !important;
                color: white !important;
                border: 1px solid $color-primaryBase !important;
                outline: $color-primaryBase !important;
            }
        }
    }

    &-blue {
        border: 1px solid $color-primaryBase !important;
        background: $color-primaryBase !important;
        color: white !important;
        font-weight: 600;

        &:hover {
            background-color: $color-blue700 !important;
            color: white !important;
        }
    }

    &-icon-close {
        background-color: none;
        border: none;
    }
}