@import './font-color.scss';

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* Thay đổi font theo sở thích của bạn */
}

/* Đặt lại các giá trị mặc định cho các phần tử khác tùy theo cần thiết */
h1,
h2,
h3,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

/* Đặt lại các giá trị mặc định cho liên kết */
a {
    text-decoration: none;
    color: inherit;
}

hr {
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-image: initial;
    border-top: 2px dashed $color-neutral100;
}

/* Thêm các quy tắc CSS cụ thể cho trang web của bạn sau đây */
@for $i from 1 through 100 {

    .p {
        &-#{$i * 2} {
            padding: #{$i * 2}px;
        }

        &t-#{$i * 2} {
            padding-top: #{$i * 2}px;
        }

        &l-#{$i * 2} {
            padding-left: #{$i * 2}px;
        }

        &b-#{$i * 2} {
            padding-bottom: #{$i * 2}px;
        }

        &r-#{$i * 2} {
            padding-right: #{$i * 2}px;
        }

        &x-#{$i * 2} {
            padding-left: #{$i * 2}px;
            padding-right: #{$i * 2}px;
        }

        &y-#{$i * 2} {
            padding-top: #{$i * 2}px;
            padding-bottom: #{$i * 2}px;
        }
    }

    .m {
        &-#{$i * 2} {
            margin: #{$i * 2}px;
        }

        &t-#{$i * 2} {
            margin-top: #{$i * 2}px;
        }

        &l-#{$i * 2} {
            margin-left: #{$i * 2}px;
        }

        &b-#{$i * 2} {
            margin-bottom: #{$i * 2}px;
        }

        &r-#{$i * 2} {
            margin-right: #{$i * 2}px;
        }

        &x-#{$i * 2} {
            margin-left: #{$i * 2}px;
            margin-right: #{$i * 2}px;
        }

        &y-#{$i * 2} {
            margin-top: #{$i * 2}px;
            margin-bottom: #{$i * 2}px;
        }
    }

    .fs-#{$i} {
        font-size: #{$i}px;
    }

    .w-#{$i * 4} {
        width: #{$i * 4}px;
    }

    .mw-#{$i * 4} {
        min-width: #{$i * 4}px;
    }

    .h-#{$i * 4} {
        height: #{$i * 4}px;
    }

    .wh-#{$i * 4} {
        width: #{$i * 4}px;
        height: #{$i * 4}px;
    }
}

.position {
    &-absolute {
        &-left-8 {
            position: absolute;
            top: 50%;
            left: 8px;
            transform: translateY(-50%);
        }

        &-center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

@for $i from 3 through 7 {
    .fw-#{$i * 100} {
        font-weight: #{$i}00;
    }
}

.border-radius {
    &-50 {
        border-radius: 50%;
    }

    &-4 {
        border-radius: 4px;
    }

    &-6 {
        border-radius: 6px;
    }

    &-8 {
        border-radius: 8px;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.border-bottom {
    border-bottom: 1px solid #e4e8ec;
}

.lh-1-6 {
    line-height: 1.6;
}

// .active {
//     color: #11B3CF !important;
// }

.bg-active {
    background: #11B3CF !important;
}

.bg-linear-primary-90 {
    background-image: linear-gradient(90deg, #69edf6 0%, rgba(2, 11, 34, 0) 100%);
}

.bg-linear-primary-120 {
    background-image: linear-gradient(120deg, #69edf6 0%, rgba(2, 11, 34, 0) 100%);
}

.bg-linear-primary-180 {
    background-image: linear-gradient(180deg, #69edf6 0%, rgba(2, 11, 34, 0) 100%);
}

.bg-gray {
    background-color: #f1f7fa !important;
}

.text-left {
    text-align: left;
}

.thumbnail {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.text-hover-primary {
    &:hover {
        color: #11B3CF !important;
    }
}

.upload-image {
    width: 100px;
    height: 100px;
}

.right-content {
    background-color: white;
    margin: 0 20px;
    padding: 20px;
}

quill-editor {
    height: 300px;
    min-height: 300px;
}