@import './font-color.scss';

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* Thay đổi font theo sở thích của bạn */
}

/* Đặt lại các giá trị mặc định cho các phần tử khác tùy theo cần thiết */
h1,
h2,
h3,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

/* Đặt lại các giá trị mặc định cho liên kết */
a {
    text-decoration: none;
    color: inherit;
}

hr {
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-image: initial;
    border-top: 2px dashed $color-neutral100;
}

/* Thêm các quy tắc CSS cụ thể cho trang web của bạn sau đây */
@for $i from 1 through 200 {
    .p {
        &-#{$i} {
            padding: #{$i}px;
        }

        &t-#{$i} {
            padding-top: #{$i}px;
        }

        &l-#{$i} {
            padding-left: #{$i}px;
        }

        &b-#{$i} {
            padding-bottom: #{$i}px;
        }

        &r-#{$i} {
            padding-right: #{$i}px;
        }

        &x-#{$i} {
            padding-left: #{$i}px;
            padding-right: #{$i}px;
        }

        &y-#{$i} {
            padding-top: #{$i}px;
            padding-bottom: #{$i}px;
        }
    }

    .m {
        &-#{$i} {
            margin: #{$i}px;
        }

        &t-#{$i} {
            margin-top: #{$i}px;
        }

        &l-#{$i} {
            margin-left: #{$i}px;
        }

        &b-#{$i} {
            margin-bottom: #{$i}px;
        }

        &r-#{$i} {
            margin-right: #{$i}px;
        }

        &x-#{$i} {
            margin-left: #{$i}px;
            margin-right: #{$i}px;
        }

        &y-#{$i} {
            margin-top: #{$i}px;
            margin-bottom: #{$i}px;
        }
    }

    .fs-#{$i} {
        font-size: #{$i}px;
    }

    .w-#{$i * 2} {
        width: #{$i * 2}px;
    }

    .mw-#{$i * 2} {
        min-width: #{$i * 2}px;
    }

    .h-#{$i * 2} {
        height: #{$i * 2}px;
    }

    .wh-#{$i * 2} {
        width: #{$i * 2}px;
        height: #{$i * 2}px;
    }
}

@for $i from 1 through 10 {
    .opacity-#{$i} {
        opacity: calc($i / 10);
    }
}

.position {
    &-absolute {
        &-left-8 {
            position: absolute;
            top: 50%;
            left: 8px;
            transform: translateY(-50%);
        }

        &-left-12 {
            position: absolute;
            top: 50%;
            left: 12px;
            transform: translateY(-50%);
        }

        &-center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

@for $i from 4 through 7 {
    .fw-#{$i * 100} {
        font-weight: #{$i}00;
    }
}

.border-radius {
    &-50 {
        border-radius: 50%;
    }

    &-100 {
        border-radius: 100%;
    }

    @for $i from 1 through 10 {
        &-#{$i} {
            border-radius: #{$i}px;
        }
    }
}

.cursor-pointer {
    cursor: pointer;
}

.lh-1-6 {
    line-height: 1.6;
}

.bg-active {
    background: #2095c4 !important;
}

.bg-linear-primary-90 {
    background-image: linear-gradient(90deg, #69edf6 0%, rgba(2, 11, 34, 0) 100%);
}

.bg-linear-primary-120 {
    background-image: linear-gradient(120deg, #69edf6 0%, rgba(2, 11, 34, 0) 100%);
}

.bg-linear-primary-180 {
    background-image: linear-gradient(180deg, #69edf6 0%, rgba(2, 11, 34, 0) 100%);
}

.bg-gray {
    background-color: #f1f7fa !important;
}

.thumbnail {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.text-hover-primary {
    &:hover {
        color: #2095c4 !important;
    }
}

.upload-image {
    width: 100px;
    height: 100px;
}

.right-content {
    background-color: white;
    margin: 0 20px;
    padding: 20px;
}

quill-editor {
    height: 300px;
    min-height: 300px;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-image: initial;
}

.page-link {
    color: #2095c4 !important;
}

.active>.page-link {
    background-color: #2095c4 !important;
    border-color: #2095c4 !important;
    color: white !important;
}