.ng-spinner {
    display: none !important;
}

.wrapper-spinner {
    position: relative;
    height: 96px;
}

.ngx-spinner-overlay {
    .la-ball-pulse-sync {
        top: 20% !important;
    }
}

.ball-pulse-sync {
    color: #2095c4 !important;
}