<!-- MAIN CHAT -->
<div class="chat-wrapper-content position-relative p-0" *ngIf="isOpenChat">
  <!-- HEADER INFO -->
  <div class="column-center row-between chat-wrapper-content-header px-16">
    <div class="column-center">
      <div>
        <img
          [src]="conversation?.admin?.avatar"
          alt=""
          class="wh-40 avatar"
          onerror="this.src='assets/media/images/avatar_hospital_default.jpg'"
        />
      </div>
      <div class="ml-12">
        <h5 class="fs-13 fw-bold">{{ conversation?.admin?.name }}</h5>
      </div>
    </div>

    <div>
      <i
        class="fa fa-times fs-16 cursor-pointer p-12"
        aria-hidden="true"
        (click)="closeChat()"
      ></i>
    </div>
  </div>

  <!-- MESSAGES -->
  <div class="display-message px-12" (scroll)="onScrollMessages($event)">
    <div class="wrapper-spinner" *ngIf="isGetMessages">
      <ngx-spinner
        bdColor="rgba(0,0,0,0)"
        size="default"
        color="#2095c4"
        type="ball-pulse-sync"
        [fullScreen]="false"
      >
        <p class="color-primary">Đang tải dữ liệu</p>
      </ngx-spinner>
    </div>
    <div *ngFor="let message of messages" class="message-wrapper">
      <!-- user send -->
      <div *ngIf="message?.isUserSend">
        <div class="column-center flex-end">
          <p class="message-content message-content-admin mr-8">
            {{ message.message }}
          </p>
        </div>
      </div>

      <!-- admin send -->
      <div *ngIf="!message?.isUserSend">
        <div class="column-center justify-content-start">
          <div>
            <img
              [src]="conversation?.admin?.avatar"
              alt=""
              class="wh-40 avatar"
              onerror="this.src='assets/media/images/avatar_hospital_default.jpg'"
            />
          </div>
          <p class="message-content message-content-user ml-8">
            {{ message.message }}
          </p>
        </div>
      </div>
    </div>

    <div #scrollChat></div>
  </div>

  <!-- Input chat -->
  <div class="input-chat-wrapper">
    <input
      type="text"
      class="form-control input-chat"
      placeholder="Nhập tin nhắn ở đây"
      [(ngModel)]="message"
      (keyup.enter)="sendMessage()"
    />
  </div>
</div>
