<div id="container">
  <div id="logo-container">
    <img id="logo" src="assets/media/logo/White_logo.svg" alt="" />
  </div>
  <div id="grid-container">
    <div id="intro">
      <p class="text-left">
        DocTime mong muốn trở thành nền tảng thông tin y khoa hàng đầu tại Việt
        Nam, giúp bạn đưa ra những quyết định đúng đắn liên quan về chăm sóc sức
        khỏe và hỗ trợ bạn cải thiện chất lượng cuộc sống.
      </p>
    </div>
    <div id="grid-3">
      <div id="link-container">
        <p>Liên kết nhanh</p>
        <ul>
          <li><a href="">Chuyên đề sức khỏe</a></li>
          <li><a href="">Kiểm tra sức khỏe</a></li>
          <li><a href="">Tìm bệnh viện</a></li>
          <li><a href="">Cộng đồng</a></li>
          <li><a href="">Cửa hàng</a></li>
        </ul>
      </div>

      <div id="info-link-container">
        <p>Thông tin</p>
        <ul>
          <li><a href="">Điều khoản sử dụng</a></li>
          <li><a href="">Chính sách Quyền riêng tư</a></li>
          <li><a href="">Chính sách Biên tập và Chỉnh sửa</a></li>
          <li><a href="">Chính sách Quảng cáo và Tài trợ</a></li>
          <li><a href="">Câu hỏi thường gặp</a></li>
          <li><a href="">Tiêu chuẩn cộng đồng</a></li>
          <li><a href="">Quy định đặt lịch bác sĩ và mua hàng</a></li>
        </ul>
      </div>

      <div id="about-container">
        <p>Hello Health</p>
        <ul>
          <li><a href="">Tự giới thiệu</a></li>
          <li><a href="">Ban điều hành</a></li>
          <li><a href="">Tuyển dụng</a></li>
          <li><a href="">Quảng cáo</a></li>
          <li><a href="">Liên hệ</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="connect-container">
    <div id="social-media">
      <p>Kết nối với chúng tôi</p>
      <img src="assets/media/icon/social-media/Facebook.svg" alt="" />
      <img src="assets/media/icon/social-media/Instagram.svg" alt="" />
      <img src="assets/media/icon/social-media/Linkedin.svg" alt="" />
      <img src="assets/media/icon/social-media/Youtube.svg" alt="" />
    </div>

    <div id="heal-group-container">
      <p>Khám phá những trang khác thuộc</p>
      <p>tập đoàn DocTime</p>
      <div id="img-container">
        <div><img src="assets/media/icon/country-flag/ID.svg" alt="" /></div>
        <div><img src="assets/media/icon/country-flag/TH.svg" alt="" /></div>
        <div><img src="assets/media/icon/country-flag/MY.svg" alt="" /></div>
        <div><img src="assets/media/icon/country-flag/KH.svg" alt="" /></div>
        <div><img src="assets/media/icon/country-flag/TW.svg" alt="" /></div>
        <div><img src="assets/media/icon/country-flag/MM.svg" alt="" /></div>
        <div><img src="assets/media/icon/country-flag/IN.svg" alt="" /></div>
        <div><img src="assets/media/icon/country-flag/PH.svg" alt="" /></div>
      </div>
    </div>
  </div>
  <hr />

  <div id="copyright-container">
    <div>
      <p>
        © 2023 Bản quyền các bài viết thuộc tập đoàn DocTime. Các bài viết của
        DocTime chỉ có tính chất tham khảo, không thay thế cho việc chẩn đoán
        hoặc điều trị y khoa.
      </p>
      <p class="my-3">
        Giấy xác nhận cung cấp dịch vụ mạng xã hội trực tuyến ...
      </p>
    </div>
    <div id="copy-right-img-container">
      <div>
        <img
          src="assets/media/icon/copyright/dang-ky-bo-cong-thuong-1.svg"
          alt=""
        />
      </div>
      <div><img src="assets/media/icon/copyright/image-23.svg" alt="" /></div>
      <div><img src="assets/media/icon/copyright/image-22-1.svg" alt="" /></div>
    </div>
  </div>
</div>
