.mrb-5 {
    margin-bottom: 5px;
}

.w-48 {
  width: 48%;
}

.disable {
  background-color: rgba(153, 161, 174, 0.3) !important;
}

.form-control {
  background-color: rgba(153, 161, 174, 0.1);
}

.btn {
  padding: 8px 10px !important;
}
