<div
  class="py-10 cursor-pointer article-wrapper"
  *ngIf="article?.id_article"
  (click)="navigateArticleDetail(article)"
>
  <div class="row">
    <div class="col-8">
      <h4 style="color: #fc7419" class="fs-14 fw-700 mt-8">
        {{ article?.name_category }}
      </h4>
      <h3 class="fs-16 fw-700 my-8 title">
        {{ article?.title }}
      </h3>
      <div class="column-center row-between fs-14">
        <div class="column-center fs-14">
          <img
            [src]="article?.avatar_user"
            alt="Bác sĩ"
            class="wh-36 avatar"
            onerror="this.src='assets/media/image/avatar_doctor_default.jpg'"
          />
          <div class="ml-12">
            Tham vấn:
            <span class="fw-700">{{ article?.name_use || "Quản trị" }}•</span>
            <span class="color-sub mt-1">
              {{ article?.updated_at_article | timeAgo }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 mx-center text-center">
      <img
        [src]="article?.thumbnail_article"
        alt="Ảnh bài viết"
        class="article-image"
        style="min-height: 50%"
      />
    </div>
  </div>
</div>
