<div class="container mt-30">
  <div class="row">
    <div class="col-md-7 col-sm-12">
      <div *ngIf="!isLoading">
        <div
          *ngFor="let articleObj of articles"
          class="py-10"
          style="border-bottom: 2px dashed #308a9a"
        >
          <div class="column-center">
            <h1 class="fs-22 fw-700 m-0">{{ articleObj?.category }}</h1>
            <div
              class="fw-700 ml-20 cursor-pointer"
              routerLink="/danh-muc/{{ articleObj?.category }}"
              style="color: rgb(32, 149, 196)"
            >
              Xem thêm
              <img src="assets/media/icon/arrow_right.svg" alt="" />
            </div>
          </div>
          <div *ngFor="let article of articleObj?.articles; index as i">
            <div
              class="pb-10"
              [class.border-bottom]="i !== articleObj?.articles?.length - 1"
            >
              <app-article-img-left
                [article]="article"
                routerLink="/bai-viet/{{ article.id_article }}/{{
                  article?.name_category
                }}"
              ></app-article-img-left>
            </div>
          </div>
        </div>
      </div>

      <div class="wrapper-spinner" *ngIf="isLoading">
        <ngx-spinner
          bdColor="rgba(0,0,0,0)"
          size="default"
          color="#2095c4"
          type="ball-pulse-sync"
          [fullScreen]="false"
        >
          <p class="color-primary">Đang tải dữ liệu</p>
        </ngx-spinner>
      </div>
    </div>

    <div class="col-md-5 col-sm-12">
      <app-call-bmi></app-call-bmi>
    </div>
  </div>
</div>
