<div class="container">
    <div class="row">
        <div class="col-lg-1">
            <div class="side-item">
                <img class="side-item-img" src="assets/media/icon/share-solid.svg" alt="">
            </div>
            <div class="side-item">
                <img class="side-item-img" src="assets/media/icon/bookmark-line.svg" alt="">
            </div>
            <div class="side-item">
                <img class="side-item-img" src="assets/media/icon/ask-question.svg" alt="">
            </div>
        </div>
        <div class="col-lg">
            <div class="row"></div>
            <div class="row">
                
            </div>
        </div>
    </div>
</div>