<div class="wrapper">
  <div class="fw-bolder fs-5 mb-3">Thêm chuyên khoa</div>
  <form
    (ngSubmit)="save()"
    appFocusInvalidInput
    #focusInput="focusInvalidInput"
    [formGroup]="form"
    #f="ngForm"
  >
    <div class="mb-3">
      <label for="name" class="form-label fw-bold">
        Tên chuyên khoa
        <span class="text-danger">*</span>:
      </label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Nhập tên chuyên khoa"
        formControlName="name"
        required
      />
      <app-show-error [control]="form.get('name')"></app-show-error>
    </div>

    <div class="mb-3">
      <label for="name" class="form-label fw-bold">
        Mô tả
        <span class="text-danger">*</span>:
      </label>

      <textarea
        name="description"
        id="description"
        rows="4"
        placeholder="Nhập mô tả"
        class="form-control"
        formControlName="description"
        required
      ></textarea>

      <app-show-error [control]="form.get('description')"></app-show-error>
    </div>

    <div class="mb-3">
      <label for="formFile" class="form-label fw-bold">
        Ảnh chuyên khoa
        <span class="text-danger">*</span>:
      </label>
      <br />

      <div class="text-center">
        <label for="thumbnailCreate">
          <img
            [src]="srcThumbnail"
            alt="Thumbnail"
            class="border-radius-4 upload-image"
            (error)="onErrorImage($event)"
          />
        </label>
      </div>

      <input
        class="form-control mt-12"
        type="file"
        accept="image/*"
        (change)="onChangeFile($event)"
        id="thumbnailCreate"
        #inputFile
        hidden
      />

      <app-show-error [control]="form.get('thumbnail')"></app-show-error>
    </div>

    <div class="flex-end mt-30">
      <button
        type="button"
        class="btn btn-secondary mr-12"
        data-bs-dismiss="modal"
        #closeModal
        (click)="resetForm()"
      >
        Huỷ
      </button>
      <button
        type="submit"
        class="btn btn-primary-1 w-150px column-center"
        (click)="focusInput.focus()"
        [disabled]="isSaving"
      >
        <div class="loader" *ngIf="isSaving"></div>
        Lưu
      </button>
    </div>
  </form>
</div>
