.btn {
  padding: 8px 10px !important;
}

.mr-lr-20{
  margin-left: 20px;
  margin-right: 20px;
}

.mb-20px {
  margin-bottom: 20px;
}

.my-30px {
  margin: 30px 0;
}

.modal-body-mar-x {
  margin-left: 50px;
  margin-right: 50px;
}
.min-w-80px {
  min-width: 80px;
}

.wrapper-firmware {
  margin-left: 20px;
  margin-right: 20px;
}

.select-paginate {
  background-color: #F1F4F7;
  cursor: pointer;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pr-30px {
  padding-right: 30px;
}

@media (max-width: 768px) {
  .wrapper-firmware {
    margin-left: 16px;
    margin-right: 16px;
  }

  .modal-body-mar-x {
    margin-left: 30px;
    margin-right: 30px;
  }
}

.my-20px {
  margin: 20px 0;
}


@media (min-width: 768px) {
  .my-md-30px {
    margin: 30px 0;
  }
}

@media (min-width: 991.18px) {
  .my-lg-40px {
    margin: 40px 0;
  }
}
