<div
  class="row py-3"
  style="border: 1px solid rgba(192, 181, 181, 0.2); border-radius: 10px"
>
  <div class="col-2">
    <img
      class="w-100 border-radius-100"
      [src]="expert?.avatar"
      onerror="this.src='assets/media/image/avatar_doctor_default.jpg'"
      alt="Ảnh chuyên gia"
    />
  </div>
  <div class="col-10">
    <div class="row-between">
      <h3
        class="fs-16 fw-700 preview-content-2"
        style="width: 50%; min-height: 40px"
      >
        {{ expert?.name_doctor }}
      </h3>
      <div class="column-center">
        <a
          routerLink="/chuyen-gia/{{ expert?.id_doctor }}"
          class="fw-700 color-primary"
        >
          Đọc tiếp
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <p style="color: rgba(0, 0, 0, 0.7)" class="preview-content-2 fs-12">
      <span>{{ expert?.name_department }}</span> •
      <span>{{ expert?.name_hospital }}</span>
    </p>

    <p style="color: rgba(0, 0, 0, 0.5)" class="preview-content-2">
      {{ expert?.description }}
    </p>
  </div>
</div>
