<div
  class="row pt-4 ps-2 pe-3 pb-3"
  style="border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 10px"
>
  <div class="col-2">
    <img
      class="w-100 border-radius-100"
      [src]="expert?.avatar"
      onerror="this.src='assets/media/image/default-doctor.jpg'"
      alt="Ảnh chuyên gia"
    />
  </div>
  <div class="col-10">
    <div class="row-between">
      <h3
        class="fs-16 fw-700 preview-content-2"
        style="width: 50%; min-height: 40px"
      >
        {{ expert?.name_doctor }}
      </h3>
      <div class="column-center">
        <a
          routerLink="/expert/{{ expert.id_doctor }}"
          style="color: #0d6efd"
          class="fw-700"
        >
          Đọc tiếp
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <p style="color: rgba(0, 0, 0, 0.7)" class="preview-content-2">
      <span class="fs-12">{{ expert.name_department }}</span> •
      <span class="fs-12" style="text-decoration: underline">
        {{ expert.name_hospital }}
      </span>
    </p>

    <p style="color: rgba(0, 0, 0, 0.5)" class="preview-content-2">
      {{ expert.description }}
    </p>
  </div>
</div>
