<div class="container mt-30">
  <h1 class="fs-22 fw-700 mb-30">Các chuyên mục sức khoẻ</h1>

  <p-carousel [value]="categories" [numVisible]="6" [numScroll]="3">
    <ng-template let-item pTemplate="item">
      <div class="p-16 text-center">
        <img
          [src]="item?.image || item?.thumbnail"
          alt="Ảnh danh mục"
          class="wh-92 border-radius-50 img-item"
        />
        <p class="mt-3 fw-600 fs-16" routerLink="/danh-muc/{{ item?.name }}">
          {{ item?.name }}
        </p>
      </div>
    </ng-template>
  </p-carousel>
</div>
