<div
  class="container p-40 component m-auto text-center"
  style="width: 600px"
  *ngIf="step === 1"
>
  <div>
    <img src="assets/media/logo/logo.svg" alt="Logo" style="width: 40%" />
  </div>
  <h3 class="my-20">Khôi phục mật khẩu</h3>

  <form [formGroup]="forgotPassForm" (ngSubmit)="onEmailSubmit()">
    <div class="border mb-20">
      <img
        class="icon wh-26"
        src="assets/media/icon/user.svg"
        alt=""
        style="width: 25px; height: 25px"
      />
      <input
        class=""
        type="email"
        placeholder="Nhập địa chỉ Email"
        id="inp-email"
        name="email"
        required
        formControlName="email"
      />
    </div>
    <div
      *ngIf="isShowEmail && emailControl && emailControl.hasError('required')"
      class="text-danger"
    >
      Bạn phải nhập email.
    </div>
    <div
      *ngIf="isShowEmail && emailControl && emailControl.hasError('email')"
      class="text-danger"
    >
      Hãy nhập email hợp lệ.
    </div>

    <button class="btn btn-secondary row-center" id="btn-login" type="submit">
      <div class="loader" *ngIf="isSendingEmail"></div>
      <p>Gửi email xác nhận</p>
    </button>
  </form>
</div>

<div
  class="container p-40 component m-auto text-center"
  style="width: 600px"
  *ngIf="step === 2"
>
  <div class="column-center flex-column">
    <i class="fa fa-check-circle fs-200 text-success" aria-hidden="true"></i>
    <div class="my-20 fw-bold fs-18 color-text-primary">
      Vui lòng kiểm tra hộp email để nhận đường link khôi phục mật khẩu
    </div>
  </div>
</div>
